

mixin header(isLogin=false,name=null)
    header.header(class=isLogin ? 'header_login' : null)
        .container
            .header__inner(class=isLogin ? 'header__inner_login' : null)
                .header__logo
                    a(href='/')
                        img(src="../../assets/img/Logo.png", alt="logo")
                nav.header__nav.nav
                    a(href="/aboutUs").nav__item О нас
                    ul.nav__item.nav__item_list Услуги
                    a(href="/jobs").nav__item Вакансии
                    a(href="/news").nav__item Новости
                    ul.nav__item.nav__item_list Соглашения
                    if isLogin
                        a(href="/profile").nav__item.nav__item_profile=name
                    else
                        a(href="/login").nav__item
                            +inputBorderButton('Войти')
                        a(href="/register").nav__item
                            +inputBorderButton('Зарегистрироваться',false,true)
                