mixin previewRoom(img,roomNumber,price,isLuxury,isSmall,reviews,rate)
    a(href="/room.html").card.card_preview-room
        +roomImg(img)
        .card__preview-room-content
            +roomHeader(roomNumber,price,isLuxury,true)
            +roomFeedback('feedback-rate',reviews,rate)