extends ../../layout/main-page.pug

block title
  title Landing

block page
  .error
    .error__container
      .error__inner
        .error__card
          h1.error__title Error 404
          h2.error__subtitle Not found
          a.error__link(href="landing.html") Вернуться на главную

