.expand-list {
  &__label {
    position: relative;
    margin-bottom: 17px;
    cursor: pointer;
    @include block-label;
    &::after {
      @include dropdown-arrow(18px, 2px);
    }

    &.open::after {
      transform: rotate(135deg);
    }
  }

  &__item {
    margin-bottom: 10px;
  }

  &__items {
    max-height: 0;
    overflow: hidden;

    &.open {
      max-height: 100%;
    }
  }
}
