include ../checkbox/checkbox.pug

mixin expand-list({ label = '', state = '', items = {} } = {})
  - const classes = state === 'opened' ? 'expand-list__label_opened' : ''

  .expand-list
    h3.expand-list__label.js-expand-list__label(class=classes)= label
    .expand-list__items
      each item in items 
        - const { text, state, name } = item;
        .expand-list__item
          +checkbox({ text, state, name })
