include ../checkbox/checkbox.pug
include ../block-label/block-label.pug


mixin expand-list({label='',isActive='',items={}}={})
  .expand-list
    .expand-list__label
      +block-label({text:label})
    .expand-list__items(class=isActive)
      each item in items 
        .expand-list__item
          +checkbox({text:item['text'],state:item['state'],name:item['name'],id:item['id']})
