.expand-list {
	&__label {
		position: relative;
		margin-bottom: 17px;
		cursor: pointer;
		&::after {
			border-bottom: 2px solid rgba(31, 32, 67, 0.5);
			border-left: 2px solid rgba(31, 32, 67, 0.5);
			content: '';
			cursor: pointer;
			height: 8px;
			position: absolute;
			width: 8px;
			right: 18px;
			top: 2px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}

	&__item {
		margin-bottom: 10px;
	}

	&__items {
		max-height: 0;
		overflow: hidden;
		&.active {
			max-height: 100%;
		}
	}
}
