.widget-title {
    color: $shadow-100;
    font-weight: bold;
    font-size: 24px;
}
.title-inside-widget {
    color: $shadow-100;
    font-weight: bold;
    font-size: 19px;
}

.block-label {
    color: $shadow-100;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.block-sub-label {
    color: $shadow-100;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
}

.body-text {
    color: $shadow-75;
    font-size: 14px;
    &_bold {
        font-weight: bold;
    }
}
