

mixin section-title({text=''})
    h1.section-title=text

mixin item-title({text=''})
    h2.item-title=text

mixin label({text=''})
    h3.label=text

mixin body-text({text=''})
    .body-text=text