.section-title {
    color: $shadow-100;
    font-weight: bold;
    font-size: 24px;
}
.item-title {
    color: $shadow-100;

    font-weight: bold;
    font-size: 19px;
}

.label {
    color: $shadow-100;
    font-weight: bold;
    font-size: 12px;
}

.body-text {
    color: $shadow-75;
    font-size: 14px;
}
