

mixin nav({isLogin=false,name=''})
    nav.header__nav.nav
        a(href="/about.html").nav__item О нас
        ul.nav__item.nav__item_list Услуги
        a(href="/jobs.html").nav__item Вакансии
        a(href="/news.html").nav__item Новости
        ul.nav__item.nav__item_list Соглашения
        if isLogin
            a(href="/profile.html").nav__item.nav__item_profile=name
        else
            a(href="/login.html").nav__item
                +button({text:'Войти',isOutlined:true,size:'sm'})
            a(href="/register.html").nav__item
                +button({text:'Зарегистрироваться',isOutlined:false,size:'md'})