include ../button/button.pug

mixin nav({state='no-authorized', name='', isBurger=false}={})
  - const classes = isBurger ? 'nav_folded' : ''

  nav.nav(class=classes)
    .nav__links
      a.nav__item(href="/mock-address/change-me" data-text="О нас") О нас
      .nav__item.nav__item_folded(data-text="Услуги") Услуги
        .nav__list 
          a.nav__list-item(href="/mock-address/change-me") Услуги
          a.nav__list-item(href="/mock-address/change-me") Услуги
          a.nav__list-item(href="/mock-address/change-me") Услуги
      a.nav__item(href="/mock-address/change-me" data-text="Вакансии") Вакансии
      a.nav__item(href="/mock-address/change-me" data-text="Новости") Новости
      .nav__item.nav__item_folded(data-text="Соглашения") Соглашения
        .nav__list
          a.nav__list-item(href="/mock-address/change-me") Соглашения
          a.nav__list-item(href="/mock-address/change-me") Соглашения
          a.nav__list-item(href="/mock-address/change-me") Соглашения
    .nav__buttons
      if state === 'authorized'
        a.nav__item.nav__item_separated(href="/mock-address/change-me" data-text=name)= name
      else
        a.nav__button.nav__button_outlined(href="login.html" ) Войти
        a.nav__button.nav__button_filled(href="register.html" ) Зарегистрироваться
