include ../button/button.pug

mixin nav({state='no-authorized',name='',burger=false}={})
  nav.nav(class=burger ? 'nav_burger' : null)
    a.nav__item(href='/mock-address/change-me') О нас
    .nav__item.nav__item_list.nav__item_services Услуги
    a.nav__item(href='/mock-address/change-me') Вакансии
    a.nav__item(href='/mock-address/change-me') Новости
    .nav__item.nav__item_list.nav__item_agreements Соглашения
    if state === 'authorized'
      a.nav__item.nav__item_profile(href='/mock-address/change-me')= name
    else
      a.nav__button.nav__button_outlined(href='login.html') Войти
      a.nav__button.nav__button_filled(href='register.html') Зарегестрироваться
