include ../button/button.pug

mixin nav({state='no-authorized', name='', isBurger=false}={})
  - const classes = isBurger ? 'nav_folded' : ''

  nav.nav(class=classes)
    a.nav__item(href="/mock-address/change-me") О нас
    .nav__item.nav__item_folded Услуги
      .nav__list 
        a.nav__list-item(href="/mock-address/change-me") Услуги
        a.nav__list-item(href="/mock-address/change-me") Услуги
        a.nav__list-item(href="/mock-address/change-me") Услуги
    a.nav__item(href="/mock-address/change-me") Вакансии
    a.nav__item(href="/mock-address/change-me") Новости
    .nav__item.nav__item_folded Соглашения
      .nav__list
        a.nav__list-item(href="/mock-address/change-me") Соглашения
        a.nav__list-item(href="/mock-address/change-me") Соглашения
        a.nav__list-item(href="/mock-address/change-me") Соглашения
    if state === 'authorized'
      a.nav__item.nav__item_separated(href="/mock-address/change-me")= name
    else
      a.nav__button.nav__button_outlined(href="login.html" ) Войти
      a.nav__button.nav__button_filled(href="register.html" ) Зарегистрироваться
