

mixin nav({isLogin=false,name='',burger=false}={})
    nav.nav(class=burger ? 'nav_burger' : null)
        a(href="/about.html").nav__item О нас
        ul.nav__item.nav__item_list Услуги
        a(href="/jobs.html").nav__item Вакансии
        a(href="/news.html").nav__item Новости
        ul.nav__item.nav__item_list Соглашения
        if isLogin
            a(href="/profile.html").nav__item.nav__item_profile=name
        else
            a(href="/login.html").nav__item.nav__item_sign
                +button({text:'Войти', type:'outlined', })
            a(href="/register.html").nav__item.nav__item_register
                +button({text:'Зарегистрироваться',type:'filled'})