.nav {
  height: inherit;
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 20px;
  color: $dark-shade-75;

  @include sm-desktop {
    column-gap: 15px;
  }

  &__item {
    cursor: pointer;
    font-weight: normal;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.2s linear;

    &_list {
      padding-left: 0;
      display: flex;
      justify-content: center;
      margin-right: 17px;

      &::after {
        @include dropdown-arrow(-8px, -1px, relative);
      }

      &.open {
        &::after {
          transform: rotate(135deg);
        }
      }
    }

    &_profile {
      padding-left: 20px;
      border-left: 1px solid rgba(#1f2041, 0.1);
    }

    &:hover {
      font-weight: 700;
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: 30px;
    width: 150px;
    background-color: $white;
    font-weight: normal;
    box-shadow: 0 10px 20px rgba($color: #1f2041, $alpha: 0.05);
    flex-direction: column;
    z-index: 100;

    &-item {
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 15px 0px;

      &:hover {
        background-color: $dark-shade-5;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $dark-shade-5;
      }
    }
  }

  &__item.open &__list {
    display: flex;
  }

  &__button {
    font-weight: bold;
    border: none;
    border-radius: 22px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    line-height: 1.2;
    font-size: $second-font-size;
    text-transform: uppercase;

    &_outlined {
      color: $main-color;
      position: relative;
      border: 2px solid transparent;
      border-radius: 80px;
      margin: 0 auto;
      background-image: linear-gradient(white, white),
        linear-gradient(to bottom, $main-color, $gradient-main-color);
      background-origin: border-box;
      background-clip: content-box, border-box;
      transition: all 0.1s linear;
      @include size(87px, 34px);

      &:hover {
        opacity: 0.8;
        border: 2px solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-image: linear-gradient(white, white),
          linear-gradient(
            to bottom,
            rgba($main-color, 0.5),
            rgba($gradient-main-color, 0.5)
          );
      }

      &:active {
        opacity: 1;
        background-image: linear-gradient(white, white),
          linear-gradient(to bottom, rgba($main-color, 1), rgba($gradient-main-color, 1));
      }
    }

    &_filled {
      @include size(196px, 34px);
      @include main-gradient-to-bottom;
      color: $white;
      margin: 0 auto;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 1;
      }

      &.hovered {
        opacity: 0.5;
      }
    }
  }

  &_burger {
    height: inherit;
    z-index: inherit;
    background-color: $white;
    position: absolute;
    flex-direction: column;
    top: 70px;
    right: 0;
    row-gap: 20px;
    padding: 10px;
    border-radius: 0px 0px 0px 7px;
    box-shadow: 0 10px 20px rgba($color: #1f2041, $alpha: 0.05);
  }

  &_burger &__item {
    display: flex;
    justify-content: center;
    margin-right: 0;
    width: 300px;

    &_profile {
      border-right: none;
      padding-left: 0;
    }

    @include phone {
      width: calc(100vw - 20px);
    }
  }
}
