.nav {
  height: inherit;
  color: $dark-shade-75;
  display: flex;

  &__links {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-right: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__item {
    cursor: pointer;
    font-weight: normal;
    position: relative;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s linear;
    color: $dark-shade-50;
    padding: 0.6rem 0;

    &::before {
      content: attr(data-text);
      font-weight: bold;
      position: relative;
      display: block;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
    }

    &_folded {
      padding-right: 17.3px;
      &::after {
        align-self: flex-end;
        @include dropdown-arrow(4px, 12px, absolute);
      }
    }

    &_folded#{&}_opened {
      font-weight: bold;
      z-index: 100;
      &:nth-child(2) {
        z-index: 400;
      }
      &::after {
        transform: rotate(135deg);
      }
    }

    &_separated {
      padding-left: 20px;
      border-left: 1px solid rgba($dark-shade-100, 0.1);
    }

    &:hover {
      font-weight: bold;
      color: $dark-shade-75;
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: 30px;
    width: 150px;
    background-color: $white;
    font-weight: normal;
    @include shadow;
    flex-direction: column;

    &-item {
      text-decoration: none;
      color: $dark-shade-50;
      text-align: center;
      padding: 15px 0px;
      font-weight: normal;
      transition: all 0.2s linear;

      &:hover {
        background-color: $dark-shade-5;
        color: $dark-shade-100;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $dark-shade-5;
      }
    }
  }

  &__item_opened &__list {
    display: flex;
  }

  &__button {
    &_outlined {
      @include size(87px, 34px);
      @include outlined-button;
      margin: 0 auto;
    }

    &_filled {
      @include size(196px, 34px);
      @include filled-button;
      margin: 0 auto;
    }
  }

  &_folded {
    height: inherit;
    z-index: inherit;
    background-color: $white;
    position: absolute;
    flex-direction: column;
    top: 70px;
    right: 0;
    row-gap: 20px;
    padding: 10px;
    border-radius: 0px 0px 0px 7px;
    @include shadow;
  }

  &_folded &__links {
    margin-right: 0;
    flex-direction: column;
  }

  &_folded &__item {
    &_folded {
      padding-right: 0;
      &::after {
        right: 30px;
      }
    }
  }

  &_folded &__buttons {
    row-gap: 10px;
    flex-direction: column;
  }

  &_folded &__item {
    display: flex;
    justify-content: center;
    margin-right: 0;
    width: 300px;

    &_separated {
      border-right: none;
      padding-left: 0;
    }

    @include phone {
      width: calc(100vw - 20px);
    }
  }
}
