include ../block-label/block-label.pug

mixin range-slider({startPrice=5000,endPrice=10000,label='Range Slider'}={})
  .range-slider 
    .range-slider__label 
      +block-label({text:label})
      .range-slider__price 
        .js-range-slider__start-price.range-slider__start-price #{ startPrice.toLocaleString() } ₽
        span.range-slider__price-delimiter -
        .js-range-slider__end-price.range-slider__end-price #{ endPrice.toLocaleString() } ₽
    .slider.js-slider(data-first-value=startPrice, data-second-value=endPrice)
