mixin range-slider
	.slider
		//- h3.input-range__label.label.label_mb_20
		//-     label.input-range__label-name(for="price")=labelName
		//-     label.input-range__value(for="price" id="price")
		//-         span#initialValue 5000₽
		//-         span  &dash; 
		//-         span#finalValue 10000₽
		//- input(type="text" name="price"  id="price-slider" ).input-range__track 
