@import '../../../libs/range-slider/range-slider.scss';

.range-slider {
  &__label {
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    @include block-label;
  }

  &__price {
    display: flex;
    font-size: $second-font-size;
    color: $dark-shade-50;
    font-weight: normal;

    &-delimiter {
      margin: 0 3px;
    }
  }
}
