

mixin button({text="",type='outlined',isLargest=false})
        button.button(class=`button_${type}` type="submit")=text
        if isLargest
                button.button.button_largest(type="submit")=text

