mixin button(arguments = {})
  -
    const {
      text = '',
      type = 'outlined', 
      isLargest = false , 
      state = ''
    } = arguments

    const classes = 
      isLargest ?
      `button_largest button_${type}`: 
      `button_${type} ${state === 'hovered' ? 'button_hovered' : ''}`;

    const types = type === 'no-bordered' ? 'button' : 'submit';

  button.button(class=classes, type=types)= text
