mixin button(props = {})
  -
    const {
      text = '',
      type = 'button', 
      theme = 'outlined',
      state = ''
    } = props

    const buttonClasses = 
      `button_${theme} ${state === 'hovered' ? 'button_hovered' : ''}`;

  button.button(class=buttonClasses, type=type)= text
