.button {
  @include size(100%);

  &_filled {
    @include filled-button;
  }

  &_filled#{&}_hovered {
    opacity: 0.5;
  }

  &_no-bordered {
    @include no-bordered-button;
  }

  &_no-bordered#{&}_hovered {
    color: $dark-shade-50;
  }

  &_outlined {
    @include outlined-button;
  }

  &_outlined#{&}_hovered {
    opacity: 0.8;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(white, white),
      linear-gradient(
        to bottom,
        rgba($main-color, 0.5),
        rgba($gradient-main-color, 0.5)
      );
  }

  &_largest {
    position: relative;

    &::before {
      content: '';
      @include size(45px);
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 10;
      transform: translate(0, -50%);
      background: url('./images/next-arrow.jpg') no-repeat center;
    }
  }
}
