mixin datepicker({isInline=false, dateFrom='', dateTo=''}={})
  - const classes = isInline ? 'datepicker_inline' : null;

  .datepicker.js-datepicker(
    class=classes,
    data-date-from=dateFrom,
    data-date-to=dateTo
  )
