@import '../../../libs/air-datepicker/air-datepicker.scss';

.datepicker {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  &_inline {
    display: block;
    position: relative;
  }
  &.open {
    display: block;
  }
}
