mixin datepicker({ isInline = false, dateFrom = '', dateTo = '' } = {})
  - const datepickerClasses = isInline ? 'datepicker_inline' : null;

  .datepicker.js-datepicker(
    class=datepickerClasses,
    data-date-from=dateFrom,
    data-date-to=dateTo
  )
