mixin toggle({ text = '', name = 'offers', state = '' } = {})
  label.toggle
    input.toggle__input(
      type="checkbox",
      name=name,
      checked=state ? state : null
    )
    .toggle__custom-input
      span.toggle__circle
    .toggle__title= text
