mixin toggle({ text = '', name = 'offers', state = '' } = {})
  label.toggle
    input.toggle__input(
      type="checkbox",
      name=name,
      checked=state || false
    )
    .toggle__custom-input
      span.toggle__circle
    span.toggle__title= text
