//------------------UTILS IMPORTS--------------

@import './utils/_vars.scss';
@import './utils/_mixins';
@import './utils/_datepicker.scss';
@import './utils/_pagination.scss';
@import './utils/_dropdown';
@import './utils/_swiper';
@import './utils/_irs';

//------------------UIKIT IMPORTS--------------

@import './modules/uikit-page/basic-forms/basic-forms.scss';
@import './modules/uikit-page/cards/cards.scss';
@import './modules/uikit-page/cards/card.scss';
@import './modules/uikit-page/site-templates/site-templates';
@import './modules/uikit-page/basic-styles/basic-styles.scss';

//------------------MAIN PAGES IMPORTS--------------

@import './modules/main-pages/intro';
@import './modules/main-pages/catalog';
@import './modules/main-pages/room';
@import './modules/main-pages/auth';

//------------------TITLES AND LABELS IMPORT--------------
@import './modules/labels/label';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
html {
    line-height: $main-line-height;
    font-size: $main-font-size;
    color: $font-color;

    font-family: 'Montserrat', sans-serif;

    @media screen and(max-width:$desktop-width) {
        font-size: 13px;
    }
    @media screen and(max-width:$table-width) {
        font-size: 12px;
    }
    @media screen and(max-width:$phone-width) {
        font-size: 11px;
    }
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

*::placeholder {
    font-size: 14px;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
