.bullet-list {
  &__list {
    padding-left: 16px;
  }
  &__item {
    list-style-image: url('./images/bullet-list-item.svg');
    padding-inline-start: 1ch;
    line-height: 2;
    font-size: 14px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
