.card-room-info {
  display: flex;
  justify-content: space-between;

  &__room {
    display: flex;
    align-items: flex-end;
    line-height: $main-line-height;

    &_lg {
      line-height: 1;
    }

    &-number {
      @include widget-title;
      margin-right: 9px;

      &_sm {
        @include title-inside-widget;
      }

      &-symbol {
        display: flex;
        line-height: 1.7;
        align-items: flex-end;
        font-size: $main-font-size;
        font-weight: bold;
        margin-right: 4px;
        color: $dark-shade-100;
      }
    }

    &-luxury {
      line-height: 1.6;
      font-weight: bold;
      font-size: $second-font-size;
      text-transform: uppercase;
      color: $main-color;
    }
  }

  &__price {
    color: $dark-shade-50;
    display: flex;
    align-items: flex-end;
    line-height: 1.4;

    &-value {
      font-weight: bold;
      font-size: $main-font-size;
      margin-right: 5px;
    }

    &-in-time {
      font-size: $second-font-size;
    }
  }
}
