.color {
  display: flex;
  align-items: center;
  
  &__title {
    @include title-inside-widget;
  }

  &__box {
    @include size(70px);
    margin-right: 40px;
    background-color: $dark-shade-100;
    border-radius: 6px;

    &_opacity_1 {
      opacity: 1;
    }

    &_opacity_75 {
      opacity: 0.75;
    }

    &_opacity_50 {
      opacity: 0.5;
    }

    &_opacity_25 {
      opacity: 0.25;
    }

    &_opacity_5 {
      opacity: 0.05;
    }

    &_purple {
      background-color: $main-color;
    }

    &_green {
      background-color: $second-color;
    }
  }

  &__description {
    line-height: 1.5;
  }

  &__hex {
    font-size: 19px;
  }
}
