extends layout/ui-kit-page.pug

block title
  title Form elements

block page
  include components/default-text-field/default-text-field.pug
  include components/dropdown/dropdown.pug
  include components/masked-text-field/masked-text-field.pug
  include components/range-date/range-date.pug
  include components/filter-date/filter-date.pug
  include components/subscribe-text-field/subscribe-text-field.pug
  include components/checkbox-list/checkbox-list.pug
  include components/radio-list/radio-list.pug
  include components/toggle/toggle.pug
  include components/like/like.pug
  include components/rate/rate.pug
  include components/range-slider/range-slider.pug
  include components/button/button.pug
  include components/pagination/pagination.pug
  include components/expand-list/expand-list.pug
  include components/rich-checkbox-list/rich-checkbox-list.pug
  include components/bullet-list/bullet-list.pug
  include components/review-list/review-list.pug
  include components/feedback/feedback.pug

  -
     const guestDropdownData = require('data/dropdown-guests-data');
     const checkboxData = require('data/checkbox-list-data');
     const { data: apartmentsDropdownData } = 
        require('data/dropdown-apartments-data');
     const { data: expandListData } = require('data/expand-list-data');
     const { data: reviewListData } = require('data/review-list-data');
     const { data: bulletListData } = require('data/bullet-list');
     const { man: feedbackData } = require('data/feedback-data');
     const { data: genderData } = require('data/gender-data');

  .form-elements
    .form-elements__container
      section.form-elements__inputs
        .form-elements__fields
          .form-elements__text-field
            +default-text-field({
              label: 'text field',
              subLabel: 'default',
              name: 'email',
              placeholder: 'Email',
              type: 'email'
            })
          .form-elements__text-field
            +default-text-field({
              label: 'text field',
              subLabel: 'hover / focus',
              name: 'email',
              placeholder: 'Email',
              type: 'email',
              value: 'This is pretty awesome'
            })
          .form-elements__dropdown.form-elements__dropdown_default
            +dropdown({
              label: 'dropdown',
              type: 'guests',
              data: guestDropdownData.clear
            })
          .form-elements__masked-text-field
            +masked-text-field({
              label: 'masked text field',
              name: 'birthday',
              placeholder: 'ДД.ММ.ГГГГ',
              type: 'text'
            })
          .form-elements__range-date
            +range-date({ from: 'date dropdown', to: 'date dropdown' })
          .form-elements__filter-date
            +filter-date({
              label: 'filter date dropdown',
              dateFrom: '19.08.2022',
              dateTo: '23.08.2022'
            })
          .form-elements__subscribe-field
            +subscribe-text-field({
              label: 'subscription text field',
              placeholder: 'Email',
              name: 'email'
            })

        section.form-elements__selections
          .form-elements__checkboxes
            +checkbox-list({
              label: 'checkbox buttons',
              items: checkboxData.default 
            })
          .form-elements__radio
            h3.form-elements__selection-label radio buttons
            +radio-list({ items: genderData })
          .form-elements__toggle
            h3.form-elements__selection-label toggle
            .form-elements__toggle-column
              +toggle({
                text: 'Получать спецпредложения',
                name: 'toggle-offers',
                state: 'checked'
              })
              +toggle({
                text: 'Получать спецпредложения',
                name: 'toggle-offers'
              })
          .form-elements__like
            h3.form-elements__selection-label like button
            .form-elements__like-row
              +like({ name: 'like', count: 2 })
              +like({ name: 'like', count: 12, state: 'checked' })
          .form-elements__rate
            h3.form-elements__selection-label rate button
            .form-elements__rate-row
              +rate({ name: '1-rate', rating: 4 })
              +rate({ name: '2-rate', rating: 5 })

        section.form-elements__other
          .form-elements__slider
            +range-slider
          .form-elements__buttons
            h3.form-elements__other-label buttons
            .form-elements__buttons.form-elements__buttons_small
              +button({ text: 'click me',theme: 'filled' })
              +button({ text: 'click me', theme: 'filled', state: 'hovered' })
              +button({ text: 'click me', theme: 'outlined' })
              +button({ text: 'click me', theme: 'outlined', state: 'hovered' })
            .form-elements__buttons.form-elements__buttons_no-bordered
              +button({ text: 'click me', theme: 'no-bordered' })
              +button({ 
                text: 'click me', 
                theme: 'no-bordered', 
                state: 'hovered' 
              })
            .form-elements__buttons.form-elements__buttons_largest
              +button({ 
                  text: 'перейти к оплате', 
                  theme: 'arrowed', 
                })
          .form-elements__pagination
            h3.form-elements__other-label pagination
            +pagination

      section.form-elements__dropdowns
        .form-elements__dropdown.form-elements__dropdown_sm
          +dropdown({
            label: 'dropdown',
            subLabel: 'default',
            size: 'md',
            type: 'apartments',
            data: apartmentsDropdownData
          })
        .form-elements__dropdown.form-elements__dropdown_sm
          +dropdown({
            label: 'dropdown',
            subLabel: 'expanded',
            size: 'md',
            type: 'apartments',
            data: apartmentsDropdownData,
            state: 'opened'
          })
        .form-elements__dropdown.form-elements__dropdown_lg
          +dropdown({
            label: 'dropdown',
            type: 'guests',
            data: guestDropdownData.clear,
            state: 'opened'
          })
        .form-elements__dropdown.form-elements__dropdown_lg
          +dropdown({
            label: 'dropdown',
            type: 'guests',
            data: guestDropdownData.withoutChildren,
            state: 'opened'
          })
      section.form-elements__lists
        .form-elements__expand-checkbox
          +expand-list({ 
              label: 'expandable checkbox list', 
              items: expandListData 
            })
          +expand-list({
              label: 'expandable checkbox list',
              state: 'opened',
              items: expandListData
            })
        .form-elements__rich-checkbox
          +rich-checkbox-list({
            label: 'rich checkbox buttons',
            items: checkboxData.rich
          })
        .form-elements__bullet-list
          h3.form-elements__list-label bullet list
          +bullet-list({ items: bulletListData })
      section.form-elements__reviews
        .form-elements__review-list
          +review-list({ items: reviewListData })
        .form-elements__feedback 
          +feedback(feedbackData)
