extends ../../layout/ui-kit-page.pug

block title
  title Form elements

block page
  include ../../components/default-text-field/default-text-field.pug
  include ../../components/dropdown/dropdown.pug
  include ../../components/masked-text-field/masked-text-field.pug
  include ../../components/range-date/range-date.pug
  include ../../components/filter-date/filter-date.pug
  include ../../components/subscribe-text-field/subscribe-text-field.pug
  include ../../components/checkbox-list/checkbox-list.pug
  include ../../components/text-titles/text-titles.pug
  include ../../components/radio-list/radio-list.pug
  include ../../components/toggle/toggle.pug
  include ../../components/like/like.pug
  include ../../components/rate/rate.pug
  include ../../components/range-slider/range-slider.pug
  include ../../components/button/button.pug
  include ../../components/pagination/pagination.pug
  include ../../components/expand-list/expand-list.pug
  include ../../components/rich-checkbox-list/rich-checkbox-list.pug
  include ../../components/bullet-list/bullet-list.pug
  include ../../components/review-list/review-list.pug
  include ../../components/feedback/feedback.pug

  .form-elements
    .container
      .form-elements__inputs
        .form-elements__fields
          .form-elements__text-field
            +default-text-field({label:'text field', subLabel:'default', name:"email", placeholder:"Email", type:'email'})
          .form-elements__text-field
            +default-text-field({label:'text field', subLabel:'hover / focus', name:"email", placeholder:"Email", type:'email', value:'This is pretty awesome'})
          .form-elements__dropdown
            +dropdown({label:'dropdown', type:'guests', data:[{ title: 'Взрослые', name: 'adults', count: 0 },{ title: 'Дети', name: 'children', count: 0 },{ title: 'Младенцы', name: 'newborns', count: 0 }]})
          .form-elements__masked-text-field
            +masked-text-field({label:'masked text field', name:"birthday", placeholder:"ДД.ММ.ГГГГ", type:'text'})
          .form-elements__range-date
            +range-date({from:'date dropdown', to:'date dropdown', dateFrom:'01.01.2001', dateTo:'01.02.2001'})
          .form-elements__filter-date
            +filter-date({label:'filter date dropdown', filterDate:'19 авг - 23 авг'})
          .form-elements__subscribe-field
            +subscribe-text-field({label:'subscription text field', placeholder:'Email',name:'email'})

        .form-elements__selections
          .form-elements__checkboxes
            +checkbox-list({label:'checkbox buttons', items:[ {id:'smoking', name:'smoking', text:'Можно курить'}, {id:'animals', name:'animals', text:'Можно с животными',state:'checked'}, {id:'guests', name:'guests', text:'Можно пригласить гостей (до 10 человек)',state:'checked'}, ] })
          .form-elements__radio
            .form-elements__selection-label
              +block-label({text:'radio button'})
            +radio-list({items:[{id:'male', name:'gender', text:'Мужчина', state:'checked'}, {id:'female', name:'gender', text:'Женщина'}] })
          .form-elements__toggle
            .form-elements__selection-label
              +block-label({text:'toggle'})
            .form-elements__toggle-column
              +toggle({id:'toggle-offers',text:'Получать спецпредложения',name:'toggle-offers',state:'checked'})
              +toggle({id:'toggle-offers',text:'Получать спецпредложения',name:'toggle-offers'})
          .form-elements__like
            .form-elements__selection-label
              +block-label({text:'like button'})
            .form-elements__like-row
              +like({id:'like-1',name:'like',count:2,state:'unchecked'})
              +like({id:'like-2',name:'like',count:12,state:'checked'})
          .form-elements__rate
            .form-elements__selection-label
              +block-label({text:'rate button'})
            .form-elements__rate-row
              +rate({id:'first-rate',name:'first-rate',rate:4})
              +rate({id:'second-rate',name:'second-rate',rate:5})

        .form-elements__other
          .form-elements__slider
            +range-slider
          .form-elements__buttons
            .form-elements__other-label
              +block-label({text:'buttons'})
            .form-elements__buttons-small
              +button({text:'click me',type:'filled'})
              +button({text:'click me',type:'filled'})
              +button({text:'click me',type:'outlined'})
              +button({text:'click me',type:'outlined'})
            .form-elements__buttons-no-bordered
              +button({text:'click me',type:'no-bordered'})
              +button({text:'click me',type:'no-bordered'})
            .form-elements__buttons-largest
              +button({text:'перейти к оплате',type:'filled',isLargest:true})
          .form-elements__pagination
            .form-elements__other-label
              +block-label({text:'pagination'})
            +pagination

      .form-elements__dropdowns
        .form-elements__dropdown.form-elements__dropdown_apartments
          +dropdown({label:'dropdown',subLabel:'default',size:'md', type:'apartments',data:[{ title: 'Спальни', name: 'bedrooms', count: 2 },{ title: 'Кровати', name: 'beds', count: 2 },{ title: 'Ванные комнаты', name: 'bathrooms', count: 0 }]})
        .form-elements__dropdown.form-elements__dropdown_apartments
          +dropdown({label:'dropdown',subLabel:'expanded',size:'md', type:'apartments',data:[{ title: 'Спальни', name: 'bedrooms', count: 2 },{ title: 'Кровати', name: 'beds', count: 2 },{ title: 'Ванные комнаты', name: 'bathrooms', count: 0 }], state:'opened'})
        .form-elements__dropdown.form-elements__dropdown_guests.form-elements__dropdown_cleared
          +dropdown({label:'dropdown',type:'guests', data:[{ title: 'Взрослые', name: 'adults', count: 0 },{ title: 'Дети', name: 'children', count: 0 },{ title: 'Младенцы', name: 'newborns', count: 0 }],state:'opened'})
        .form-elements__dropdown.form-elements__dropdown_guests
          +dropdown({label:'dropdown',type:'guests', data:[{ title: 'Взрослые', name: 'adults', count: 2 },{ title: 'Дети', name: 'children', count: 1 },{ title: 'Младенцы', name: 'newborns', count: 0 }],state:'opened'})

      .form-elements__lists
        .form-elements__expand-checkbox
          +expand-list({label:'expandable checkbox list', items:[ {id:'breakfast', name:'breakfast', text:'Завтрак'}, {id:'table', name:'table', text:'Письменный стол',state:'checked'}, {id:'chair', name:'chair', text:'Стул для кормления',state:'checked'}, {id:'bed', name:'bed', text:'Кроватка',state:'checked'}, {id:'tv', name:'tv', text:'Телевизор'}, {id:'shampoo', name:'shampoo', text:'Шампунь'}, {id:'tv', name:'tv', text:'Телевизор'}, {id:'shampoo', name:'shampoo', text:'Шампунь'}, ]})
          +expand-list({label:'expandable checkbox list',isActive:'active', items:[ {id:'breakfast', name:'breakfast', text:'Завтрак'}, {id:'table', name:'table', text:'Письменный стол',state:'checked'}, {id:'chair', name:'chair', text:'Стул для кормления',state:'checked'}, {id:'bed', name:'bed', text:'Кроватка',state:'checked'}, {id:'tv', name:'tv', text:'Телевизор'}, {id:'shampoo', name:'shampoo', text:'Шампунь'}, {id:'tv', name:'tv', text:'Телевизор'}, {id:'shampoo', name:'shampoo', text:'Шампунь'}, ]})
        .form-elements__rich-checkbox
          +rich-checkbox-list({label:'rich checkbox buttons', items:[ {id:'corridor', name:'corridor', text:'Широкий коридор', subtext:'Ширина коридоров в номере не менее 91 см.'}, {id:'invalid-helper', name:'invalid-helper', text:'Помощник для инвалидов',subtext:'На 1 этаже вас встретит специалист и проводит до номера.'}, ]})
        .form-elements__bullet-list
          .form-elements__list-label
            +block-label({text:'bullet list'})
          +bullet-list({items:[{text:'Нельзя с питомцами'},{text:'Без вечеринок и мероприятий'},{text:'Время прибытия — после 13:00, а выезд до 12:00'} ]})

      .form-elements__reviews
        .form-elements__review-list
          +review-list({items:[ {img:'review-image1.svg', alt:'comfort', title:'Комфорт',subtitle:'Шумопоглощающие стены'}, {img:'review-image2.svg', alt:'convenience', title:'Удобство',subtitle:'Окно в каждой из спален'}] })
        .form-elements__feedback 
          +feedback({avatar:'avatar.svg',alt:'avatar',name:'Мурад Сарафанов', lastVisit:'5 дней назад', comment:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',likeState:'checked',likesCount:12})
