@import '../../components/text-field/text-field';
@import '../../components/button/button';
@import '../../components/card-room-info/card-room-info';
@import '../../components/datepicker/datepicker';
@import '../../components/dropdown/dropdown.scss';

.booking-card {
  @include card;

  &__room-info {
    margin-bottom: 20px;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 20px;
  }

  &__cost {
    display: grid;
    grid-template-columns: minmax(195px, 240px) minmax(60px, 1fr);
    grid-row-gap: 10px;
    margin-bottom: 34px;
    cursor: default;
  }

  &__day {
    @include body-text;
  }

  &__day-price {
    @include body-text;
    justify-self: right;
  }

  &__service {
    @include body-text;
    display: flex;
    justify-content: space-between;
    position: relative;

    &-price {
      @include body-text;
      justify-self: right;
    }
  }

  &__add-service {
    display: flex;
    position: relative;
    @include body-text;
    line-height: 1.2;

    &-price {
      @include body-text;
      justify-self: right;
    }
  }

  &__tip {
    width: 20px;
    height: 20px;

    &-text {
      opacity: 0;
      position: absolute;
      right: -100px;
      top: -15px;
      color: $dark-shade-50;
      background-color: #f7f7f7;
      border-radius: 4px;
      padding: 5px;
      pointer-events: none;
      transition: all 0.2s linear;
      overflow-wrap: break-word;
      max-width: 100px;
    }

    &:hover + &-text {
      opacity: 1;
    }
  }

  &__final-cost {
    display: grid;
    column-gap: 4px;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 21px;
    &-text {
      @include title-inside-widget;
    }
  }

  &__points {
    margin-bottom: 6px;
    border-bottom: 1px dotted $dark-shade-25;
  }

  &__button {
    height: 44px;
  }
}
