{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "libs": "./src/libs",
          "vendor": "./src/vendor",
          "components": "./src/views/components",
          "data": "./src/data"
        }
      }
    ]
  ]
}
