


mixin roomImg(img)
    .swiper
        .swiper-wrapper
            .swiper-slide.card__preview-img 
                img.card__img(src=img)
            .swiper-slide.card__preview-img 
                img.card__img(src=img)
            .swiper-slide.card__preview-img 
                img.card__img(src=img)
            .swiper-slide.card__preview-img 
                img.card__img(src=img)
        .swiper-button-next 
        .swiper-button-prev 
        .swiper-pagination
            span.swiper-pagination-bullet.swiper-pagination-bullet-active
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
            span.swiper-pagination-bullet
        