@import '../../components/toggle/toggle';
@import '../../components/radio-list/radio-list';
@import '../../components/default-text-field/default-text-field';
@import '../../components/masked-text-field/masked-text-field';
@import '../../components/button/button';

.register-card {
  @include card;

  &__title {
    margin-bottom: 20px;
    @include widget-title;
  }

  &__label {
    margin-bottom: 5px;
    @include block-label;
  }

  &__register-form {
    margin-bottom: 30px;
  }

  &__block {
    margin-bottom: 24.5px;
    &_sm {
      margin-bottom: 20px;
    }

    &-field {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    margin-bottom: 20px;
    height: 44px;
  }

  &__profile-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    &-text {
      @include body-text;
    }

    &-button {
      @include size(100px, 100%);
    }
  }
}
