@import '../text-field/text-field.scss';
.range-date {
  position: relative;
  &__fields {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
  }
  &__field {
    position: relative;
    &::after {
      @include dropdown-arrow(18px, 17px);
    }
  }

  &.open &__field::after {
    transform: rotate(135deg);
  }

  &__input {
    cursor: pointer;
    caret-color: transparent;
    &::placeholder {
      color: $dark-shade-75;
    }
  }
}
