@import '../text-field/text-field.scss';
.range-date {
  position: relative;

  &__fields {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
  }

  &__field {
    position: relative;

    &::after {
      @include dropdown-arrow(18px, 17px);
    }
  }

  &.open &__field::after {
    transform: rotate(135deg);
  }

  &__input {
    cursor: pointer;
    caret-color: transparent;
    @include text-field {
      &::placeholder {
        color: $dark-shade-75;
      }
    }

    &:focus {
      border: 1px solid $dark-shade-25;
    }
  }
  &.open &__input {
    border: 1px solid $dark-shade-50;
  }
}
