.range-date {
    position: relative;
    &__text-fields {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }
    &__datepicker-container {
        position: absolute;
        top: 70px;
        z-index: 100;
    }
}
