.card {
  width: inherit;
  height: inherit;
  padding: 30px;
  padding-top: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba($color: $black, $alpha: 0.2);

  @include phone {
    padding: 10px;
    padding-top: 30px;
  }

  &_sm {
    padding: 0;
    padding-bottom: 19px;

    @include phone {
      padding: 0;
      padding-bottom: 10px;
    }
  }
}
