@import '../../../style/scss/index.scss';

.index {
  &__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__link {
    font-size: $widget-font-size;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: $main-color;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
  }
}
