mixin checkbox({text='',state='',name=''}={})
  label.checkbox
    if state === 'checked'
      input.checkbox__input(type='checkbox', name=name, checked=state)
    else
      input.checkbox__input(type='checkbox', name=name)
    span.checkbox__custom-input
    .checkbox__title= text
