.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__custom-input {
    align-self: flex-start;
    height: 20px;
    min-width: 20px;
    margin-right: 10px;
    transition: 0.2s ease-in-out;

    background: url('./images/empty-checkbox.svg');
  }

  &__input:checked + &__custom-input {
    background: url('./images/fill-checkbox.svg');
  }

  &__title {
    line-height: 1.4;
    color: $dark-shade-50;
  }
}
