mixin checkbox({ text = '', state = '', name = '' } = {})
  label.checkbox
    input.checkbox__input(
      type="checkbox",
      name=name,
      checked=state || false
    )
    span.checkbox__custom-input
    .checkbox__title= text
