mixin checkbox({text='',state='',name=''}={})
  label.checkbox
    input.checkbox__input(
      type="checkbox",
      name=name,
      checked=state ? state : null
    )
    span.checkbox__custom-input
    .checkbox__title= text
