.iqdropdown {
    border: 1px solid $shadow-25;
}

.iqdropdown.menu-open {
    border-color: $shadow-50;
    z-index: 50;
    background-color: #fff;
}

.iqdropdown .iqdropdown-menu {
    border: 1px solid $shadow-50;
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 7px;
    padding-left: 15px;
    font-family: inherit;
    font-weight: bold;
    color: $shadow-100;
    top: 45px;
    box-shadow: 0 10px 20px rgba(#1f2041, 0.05);
    z-index: 1000;
}

.iqdropdown .iqdropdown-selection {
    font-family: inherit;
    font-size: 14px;
    align-items: center;
    display: flex;
}

.iqdropdown .iqdropdown-menu-option {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 30px;
    margin-bottom: 7px;
}

.iqdropdown .iqdropdown-menu-option:last-child {
    margin-bottom: 0;
}

.iqdropdown .iqdropdown-item-controls {
    display: flex;
    align-items: center;
}

.iqdropdown .iqdropdown-item-controls button {
    border: none;
    border-radius: 0;
}
.iqdropdown .iqdropdown-item-controls .counter {
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    color: $shadow-100;
    border: none;
    min-width: 30px;
    padding: 0;
    text-align: center;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement,
.iqdropdown .iqdropdown-item-controls button.button-increment {
    border: 1px solid $shadow-25;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement:disabled {
    pointer-events: none;
    opacity: 0.4;
}

.iqdropdown .icon-decrement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iqdropdown .icon-decrement:after {
    color: $shadow-50;
}

.iqdropdown-menu-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.iqdropdown-button {
    font-weight: bold;
    font-size: 12px;
    font-family: inherit;
    text-transform: uppercase;
    color: $main-color;
}

.iqdropdown .iqdropdown-item-controls {
    display: flex;
    height: 45px;
}

.iqdropdown .iqdropdown-item-controls button {
    align-items: center;
    border: 1px solid #e2e2e2;
    display: flex;
    height: 45px;
    padding: 0 20px;
    transition: all 0.2s ease-in-out;
}

.iqdropdown .iqdropdown-item-controls button:hover {
    background-color: #eee;
}

.iqdropdown-itemItem {
    text-transform: uppercase;
    font-size: 12px;
    color: $shadow-100;
}

.iqdropdown .icon-decrement:after {
    background: #8f8fa0;
    height: 1px;
    width: 7px;
    top: auto;
}

.iqdropdown .icon-decrement.icon-increment:before {
    background: #8f8fa0;
    height: 1px;
    width: 8px;
    top: auto;
}

// .iqdropdown .iqdropdown-selection:after {
//     content: '';
//     border-bottom: 2 px solid rgba(31, 32, 67, 0.5);
//     border-left: 2 px solid rgba(31, 32, 67, 0.5);
//     height: 8 px;
//     position: absolute;
//     right: 5 px;
//     transform: rotate(-45deg);
//     width: 8 px;
// }

.iqdropdown .iqdropdown-selection:after {
    background-image: url('http://localhost:8080/assets/img/DropDownArrow.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 8px;
    position: absolute;
    right: 0;
    top: auto;
    width: 12px;
}

.iqdropdown.menu-open .iqdropdown-selection:after {
    background-image: url('http://localhost:8080/assets/img/DropDownArrow.png');
    transform: rotate(180deg);
}
