.slider {
    position: relative;
    width: 100%
}

.slider-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.slider-parent_horizontal {
    height: auto;
    width: 60%
}

.slider-parent_vertical {
    height: 400px;
    width: auto
}

.slider_vertical {
    height: 100%
}

.slider__track {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 50px;
    border-radius: 20px;
    cursor: pointer;
    height: 4px;
    position: absolute;
    width: 100%
}

.slider__track_vertical {
    height: 100%;
    width: 4px
}

.slider__thumb {
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    top: 0;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    width: 15px;
    z-index: 20
}

.slider__thumb,
.slider__tip {
    background-color: #242424;
    left: 0;
    position: absolute
}

.slider__tip {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    bottom: 20px;
    display: flex;
    font-size: 12px;
    height: 25px;
    justify-content: center;
    padding: 0 5px;
    transform: translate(-50%);
    width: auto
}

.slider__tip_horizontal {
    top: -40px
}

.slider__tip_vertical {
    left: -30px
}

.slider__scale {
    cursor: pointer;
    position: absolute;
    top: 5px;
    width: 100%
}

.slider__scale-mark {
    align-items: center;
    background-color: #242424;
    display: flex;
    height: 10px;
    justify-content: center;
    position: absolute;
    width: 1px
}

.slider__scale-mark_vertical {
    height: 1px;
    width: 10px
}

.slider__scale-number {
    font-size: 12px;
    position: relative;
    top: 15px
}

.slider__scale-number_vertical {
    left: 15px;
    top: 0
}

.slider__scale_vertical {
    height: 100%;
    left: 5px;
    top: 0;
    width: 2px
}

.slider__fill {
    background-color: #242424;
    border-radius: 50px;
    cursor: pointer;
    height: 4px;
    position: absolute;
    transition: all .2s ease;
    z-index: 10
}

.slider__fill_vertical {
    bottom: 0;
    height: 100%;
    width: 4px
}

* {
    box-sizing: border-box
}

body {
    background-color: rgba(80, 80, 80, .667);
    color: #fff;
    height: 1000px;
    margin: 0;
    padding-top: 30px
}

.title {
    margin-bottom: 30px
}

.slider {
    margin-bottom: 50px
}

.panel {
    background-color: rgba(64, 72, 80, .667);
    border-radius: 5px;
    box-shadow: 0 5px 10px #313131;
    padding-top: 20px
}