doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body 
		.index
			.container 
				.index__inner
					a.index__link(href="ui-kit.html") ui kit page
					a.index__link(href="landing.html") main pages
