extends ../layout/landing-layout.pug




block intro
    .intro
        .container
            .intro__inner
                .intro__search-room
                    include ../templates/card-templates/search-room-card-template.pug
                .intro__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
                        