include ../utils/mixins/mixins.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        .kit-wrapper
            .container
                .basic-forms
                    .basic-forms__input
                        include ../layout/uikit/input-template.pug
                    .basic-forms__dropdown.dropdown-template
                        include ../layout/uikit/dropdown-template.pug
                    .basic-forms__checkbox.checkbox-template
                        include ../layout/uikit/checkbox-template.pug
                    .basic-forms__review.review-template
                        include ../layout/uikit/review-template.pug