@import '../text-field/text-field.scss';
.filter-date {
  position: relative;
  &__input {
    cursor: pointer;
    caret-color: transparent;
    &::placeholder {
      color: $shadow-75;
    }
  }

  &__field {
    &::after {
      content: '';
      border-bottom: 2px solid #1f204380;
      border-left: 2px solid #1f204380;
      cursor: pointer;
      height: 8px;
      position: absolute;
      right: 18px;
      top: 17px;
      transform: rotate(-45deg);
      width: 8px;
      transition: all 0.2s linear;
    }
  }

  &.open &__field::after {
    transform: rotate(135deg);
  }

  &__datepicker .air-datepicker {
    padding: 10px;
  }

  &__datepicker .air-datepicker--navigation {
    margin-bottom: 10px;
  }

  &__datepicker .air-datepicker-body--cells.-days- {
    width: 100%;
    grid-auto-rows: 33px;
    grid-auto-columns: 33px;
  }
}
