@import '../text-field/text-field.scss';

.filter-date {
  position: relative;

  &__input {
    cursor: pointer;
    caret-color: transparent;
    @include text-field {
      &::placeholder {
        color: $dark-shade-75;
      }
    }
  }

  &__field {
    &::after {
      @include dropdown-arrow(18px, 17px);
    }
  }

  &.open &__field::after {
    transform: rotate(135deg);
  }

  &__datepicker .air-datepicker {
    padding: 10px;
  }

  &__datepicker .air-datepicker--navigation {
    margin-bottom: 10px;
  }

  &__datepicker .air-datepicker-body--cells.-days- {
    width: 100%;
    grid-auto-rows: 33px;
    grid-auto-columns: 33px;
  }
}
