
mixin filter-date({id='filter-date', placeholder=''})
    .filter-date
        .text-field
            .text-field__container
                input.text-field__input.text-field__input_date(id=id name=name data-range="true" placeholder='ДД.ММ.ГГГГ')
        .filter-date__datepicker-container 
            +datepicker-container({size:'md'})