
mixin filter-date(labelName,placeholder)
    .input-text
        label.label(for="range-datepicker")=labelName
        .input-text__field.input-text__field_dropdown
            input.input-text__input.input-text__input_date(id="range-datepicker" data-range="true" placeholder=placeholder)