
mixin filter-date({id='filter-datepicker', placeholder='',})
    .text-field
        .text-field__container
            input.text-field__input.text-field__input_date.js-text-field__input_date(id="filter-datepicker" data-range="true"  placeholder=placeholder)