.filter-date {
  position: relative;

  &__label {
    @include block-label;
    margin-bottom: 5px;
  }

  &__input {
    cursor: pointer;
    caret-color: transparent;
    @include text-field;

    &::placeholder {
      color: $dark-shade-75;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      @include dropdown-arrow(18px, 17px);
    }

    &_opened {
      &::after {
        transform: rotate(135deg);
      }
    }
  }
}
