include ../text-titles/text-titles.pug
include ../datepicker/datepicker.pug

mixin filter-date({label='', id='filter-date', placeholder=''}={})
  +text-field({label})
    .filter-date
      input.filter-date__input(
        id=id,
        name=name,
        data-range='true',
        value='Выберите дату'
      )
      .filter-date__datepicker
        +datepicker
