.checkbox-list {
    display: flex;
    flex-direction: column;

    &__label {
        margin-bottom: 16px;
    }

    &__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &_toggle {
            width: 260px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &_like {
            width: 40px;
            margin-bottom: 0;
            margin-right: 10px;
        }

        &_rate {
            width: 120px;
            margin-bottom: 0;
            position: relative;
            height: 24px;
            &:not(:last-child) {
                margin-right: 20px;
            }
            background: url('http://localhost:8080/assets/img/InactiveRate.svg');
        }
    }

    &__title {
        font-size: 14px;
        max-width: 192px;
    }

    &__checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__custom-checkbox {
        align-self: flex-start;
        min-width: 20px;
        margin-right: 10px;
        height: 20px;
        transition: 0.1s ease-in-out;

        background: url('http://localhost:8080/assets/img/EmptyCheckbox.svg');

        .input-selection__field:hover + & {
            background: url('http://localhost:8080/assets/img/FillCheckbox.svg');
            opacity: 0.6;
        }

        .input-selection__field:checked + & {
            background: url('http://localhost:8080/assets/img/FillCheckbox.svg');
        }
    }

    &__field-custom {
        &_toggle {
            transition: none;
            min-width: 40px;
            background: url('http://localhost:8080/assets/img/InactiveToggle.svg');
            .input-selection__field:checked + & {
                background: url('http://localhost:8080/assets/img/ActiveToggle.svg');
            }
        }

        &_like {
            transition: none;
            background: url('http://localhost:8080/assets/img/UnlikeButton.svg');
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 10px;
            font-size: 10px;
            color: $shadow-25;
            .input-selection__field:checked + & {
                color: $main-color;
                background: url('http://localhost:8080/assets/img/LikeButton.svg');
            }
        }

        &_rate {
            min-width: 24px;
            height: 24px;
            margin-right: 0;
            position: absolute;
            left: 0;
            top: 0;
            font-size: inherit;
            transition: all 0.2s ease-in-out;

            &:checked {
                background: url('http://localhost:8080/assets/img/ActiveRate.svg');
            }

            &:hover {
                background: url('http://localhost:8080/assets/img/ActiveRate.svg');
                opacity: 0.6;
            }

            &:nth-of-type(1) {
                z-index: 5;
                min-width: 24px;
            }
            &:nth-of-type(2) {
                z-index: 4;
                min-width: 48px;
            }
            &:nth-of-type(3) {
                z-index: 3;
                min-width: 72px;
            }
            &:nth-of-type(4) {
                z-index: 2;
                min-width: 96px;
            }
            &:nth-of-type(5) {
                z-index: 1;
                min-width: 120px;
            }
        }
    }
}

// max-height: 0;
// overflow: hidden;

// &.active {
//     max-height: 100%;
// }

// &:not(:last-child) {
//     margin-bottom: 20px;
// }

// &_rich {
//     font-weight: bold;
//     line-height: 1.5;
//     margin-bottom: 5px;
// }

// &__description {
//     font-size: 12px;
//     width: 230px;
//     color: $shadow-50;
// }
