

mixin checkbox-list({label='checkboxes',items=[]})
        .checkbox-list
            .checkbox-list__label
                +block-label({text:label})
            each item in items
                label.checkbox-list__item
                    if item['state'] === 'checked'
                        input(type="checkbox" name=item['name'] id=item['id'] checked).checkbox-list__input
                    else
                        input(type="checkbox" name=item['name'] id=item['id']).checkbox-list__input
                    span.checkbox-list__custom-input
                    .checkbox-list__title
                        +body-text({text:item['text']})