

mixin checkbox-list({label='checkboxes',items=[]})
        .checkbox-list
            .checkbox-list__label
                +block-label({text:label})
            each text, name in items
                label.checkbox-list__item
                    input(type="checkbox" name=name id=name).checkbox-list__checkbox
                    span.checkbox-list__custom-checkbox
                    .checkbox-list__title=text