include ../checkbox/checkbox.pug

mixin checkbox-list({label='checkboxes',items=[]}={})
  .checkbox-list
    h3.checkbox-list__label=label
    each item in items
      .checkbox-list__item
        +checkbox({text:item['text'],state:item['state'],name:item['name']})
