

mixin checkbox-list({label='checkboxes',items=[]})
        .checkbox-list
            .checkbox-list__label
                +block-label({text:label})
            each item in items
                .checkbox-list__item
                    +checkbox({text:item['text'],state:item['state'],name:item['name'],id:item['id']})