@import '../checkbox/checkbox';

.checkbox-list {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 16.5px;
    @include block-label;
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 222px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
