mixin rate({ name = 'rate', rate = '1' } = {})
  - const rateQuantity = [1, 2, 3, 4, 5];

  label.rate
    each value in rateQuantity
      input.rate__input(
        type="radio",
        name=name,
        value=value,
        checked=value === rate ? "checked" : null
      )
