mixin rate({name='rate', rate='1'}={})
  - const rateQuantity = [1, 2, 3, 4, 5];

  label.rate
    each value in rateQuantity
      if value === rate
        input.rate__input(type="radio", name=name, value=value, checked)
      else
        input.rate__input(type="radio", name=name, value=value)
