@import '../range-date/range-date.scss';
@import '../dropdown/dropdown.scss';
@import '../datepicker/datepicker.scss';
@import '../text-field/text-field.scss';
@import '../button/button.scss';
@import '../default-text-field/default-text-field.scss';

.search-room-card {
  &__title {
    margin-bottom: 23px;
    @include widget-title;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 31px;
  }

  &__button {
    height: 44px;
  }
}
