@import 'components/range-date/range-date.scss';
@import 'components/dropdown/dropdown.scss';
@import 'components/datepicker/datepicker.scss';
@import 'components/button/button.scss';
@import 'components/default-text-field/default-text-field.scss';

.search-room-card {
  @include card;

  &__title {
    margin-bottom: 23px;
    @include widget-title;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 31px;
  }

  &__button {
    height: 44px;
  }
}
