.nav {
    display: flex;
    &__item {
        cursor: pointer;
        position: relative;
        color: inherit;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 20px;
        }
        display: flex;
        align-items: center;

        &_list {
            padding-left: 0;
            &::after {
                border-bottom: 2px solid rgba(31, 32, 67, 0.5);
                border-left: 2px solid rgba(31, 32, 67, 0.5);
                content: '';
                cursor: pointer;
                height: 6px;
                display: inline-block;
                margin-left: 8px;
                width: 6px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
        &_profile {
            padding-left: 20px;
            border-left: 1px solid rgba(#1f2041, 0.1);
        }
    }
}
