extends ../../layout/login-layout.pug

block login
  include ../../components/footer/footer.pug
  include ../../components/header/header.pug
  include ../../components/login-card/login-card.pug
  .login 
    +header
    .login__intro
      .container
        .login__inner
          .login__card 
            +login-card
    +footer
