@import '../../../assets/style/scss/index.scss';
@import '../../components/header/header';
@import '../../components/card/card';
@import '../../components/login-card/login-card';
@import '../../components/footer/footer';
.login {
  &__intro {
    height: 684px;
    background: url('./images/auth-background.jpg') center bottom no-repeat;
    background-size: cover;
  }

  &__inner {
    height: 684px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    width: 380px;
  }
}
