extends ../../layout/main-page.pug

block title
  title Login

block page
  include ../../components/login-card/login-card.pug
  
  .login 
    .login__intro
      .container
        .login__inner
          .login__card 
            +login-card
