@import '../../components/rate/rate';
@import '../../components/card-room-info/card-room-info';
@import '../../../libs/swiper/swiper';

.preview-room {
  text-decoration: none;
  color: $dark-shade-100;
  background-color: $white;
  @include size(100%);

  &__carousel {
    width: 100%;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  &:hover &__image {
    opacity: 0.8;
  }

  &__image {
    display: block;
    transition: all 0.2s linear;
  }

  &__content {
    padding: 20px;
    padding-top: 20px;
    padding-right: 17px;
    padding-bottom: 0;
  }

  &__info {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: $dark-shade-100, $alpha: 0.1);
  }

  &__reviews {
    display: flex;
    align-items: center;
    margin-top: 7.7px;
    justify-content: space-between;

    &-value {
      line-height: 1;
      color: $dark-shade-50;
    }

    &-number {
      font-weight: bold;
      margin-right: 4px;
    }
  }
}
