.preview-room {
  text-decoration: none;
  color: $shadow-100;
  background-color: #fff;

  width: 100%;
  height: 100%;

  &__carousel {
    width: 100%;
    border-radius: 4px 4px 0 0;

    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  &:hover &__image {
    opacity: 0.8;
  }
  &__image {
    display: block;

    transition: all 0.2s linear;
  }
  &__content {
    padding: 20px;
    padding-top: 25px;
    padding-right: 17px;
    padding-bottom: 0;
  }
  &__info {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba($color: $shadow-100, $alpha: 0.1);
  }
  &__reviews {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    &-value {
      color: $shadow-50;
    }
    &-number {
      font-weight: bold;
      margin-right: 4px;
    }
  }
}
