extends ../../layout/main-page.pug

block title
  title Room

block page
  include ../../components/review-list/review-list.pug
  include ../../components/chart/chart.pug
  include ../../components/feedback/feedback.pug
  include ../../components/bullet-list/bullet-list.pug
  include ../../components/booking-card/booking-card.pug

  - const feedbackData = require("../../../data/feedback-data");
  - const bulletListData = require("../../../data/bullet-list").data;
  - const reviewListData = require("../../../data/review-list-data").data;
  - const bookingData = require("../../../data/booking-data").data;
  - const guestsDropdownData = require("../../../data/dropdown-guests-data").withoutChildren;
  - bookingData.guests = guestsDropdownData;

  .room
    .room__preview-images 
      .room__main-image
        img.room__main-image-block(src="assets/images/main-image-room.jpg", alt="Room photo")
      .room__second-image.room__second-image_upper
        img.room__main-image-block(src="assets/images/second-image-room.jpg", alt="Room photo")
      .room__second-image.room__second-image_lower
        img.room__main-image-block(src="assets/images/third-image-room.jpg", alt="Room photo")
    .container
      .room__inner 
        .room__overview
          .room__reviews
            section.room__about
              h3.room__label Сведения о номере
              +review-list({items:reviewListData})
            section.room__impressions
              h3.room__label Впечатления от номера
              .room__impressions-chart
                +chart({great:130,good:65,satisfied:65})
          section.room__feedback 
            h3.room__label.room__label_flexed Отзывы посетителей номера
              .room__feedback-count 2 отзыва
            .room__feedback-items
              .room__feedback-item
                +feedback(feedbackData.man)
              .room__feedback-item
                +feedback(feedbackData.woman)
          .room__additions
            section.room__rules 
              h3.room__label.room__label_separated Правила
              .room__rules-list 
                +bullet-list({items:bulletListData})
            section.room__cancel
              h3.room__label Отмена
              p.room__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room__booking 
          +booking-card(bookingData)
