@import '../../../style/scss/index.scss';
@import '../../components/card/card.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';
@import '../../components/booking-card/booking-card.scss';
@import '../../components/chart/chart.scss';
@import '../../components/feedback/feedback.scss';
@import '../../components/bullet-list/bullet-list.scss';
@import '../../components/review-list/review-list.scss';
@import '../../components/range-date/range-date.scss';

.room {
  &__label {
    margin-bottom: 20px;
    &_feedback {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &_separated {
      padding-left: 20px;
    }
  }

  &__preview-images {
    width: 100%;
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-rows: repeat(2, minmax(max-content, 100px));
    grid-template-areas:
      'main-image second-image-top'
      'main-image second-image-bottom';
    @include tablet-portrait {
      grid-template-areas: 'main-image main-image';
      grid-template-rows: minmax(min-content, 100px);
    }
  }

  &__main-image {
    & img {
      @include size(100%);
    }
    grid-area: main-image;
  }

  &__second-image {
    & img {
      @include size(100%);
      display: block;
    }

    &_bottom {
      grid-area: second-image-bottom;
    }

    &_top {
      grid-area: second-image-top;
    }
  }

  &__inner {
    padding: 72px 0;
    display: grid;
    grid-template-columns: 1fr minmax(10px, 70px) 380px;

    @include tablet-landscape {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.3fr;
      padding: 30px 0;
      row-gap: 30px;
    }
  }
  &__booking {
    @include size(380px, 512px);
    grid-column-start: 3;
    @include tablet-landscape {
      grid-column-start: 1;
      grid-row-start: 2;
      justify-self: center;
    }
  }

  &__overview {
    display: grid;
    grid-template-columns: minmax(290px, 1fr);
    grid-template-areas:
      'reviews'
      'feedback'
      'additions';
    row-gap: 36px;
  }

  &__reviews {
    display: grid;
    grid-template-columns: 280px minmax(10px, 80px) 1fr;
    grid-area: reviews;
    @include md-desktop {
      row-gap: 40px;
      grid-template-columns: 1fr;
      justify-self: center;
      @include tablet-landscape {
        grid-template-columns: minmax(240px, 1fr) minmax(10px, 80px) 1fr;
        @include sm-tablet-portrait {
          grid-template-columns: minmax(240px, 1fr);
        }
      }
    }
  }

  &__impressions {
    grid-column-start: 3;
    @include md-desktop {
      grid-column-start: 1;
      grid-row-start: 2;
      @include tablet-landscape {
        grid-column-start: 3;
        grid-row-start: 1;
        @include sm-tablet-portrait {
          grid-column-start: 1;
          grid-row-start: 2;
        }
      }
    }
    &-chart {
      position: relative;
      left: -23px;
      @include phone {
        left: -15px;
      }
    }
  }

  &__feedback {
    &-items {
      display: flex;
      flex-direction: column;
      row-gap: 22px;
    }
    &-count {
      font-size: 14px;
      text-align: center;
      display: flex;
      align-items: center;
    }
    grid-area: feedback;
  }

  &__additions {
    display: grid;
    grid-template-columns: 260px minmax(0px, 100px) minmax(340px, 240px);
    grid-area: additions;
    @include sm-tablet-portrait {
      grid-template-columns: 1fr minmax(0px, 20px) 1fr;
      @include phone {
        row-gap: 20px;
        grid-template-columns: 1fr;
      }
    }
  }

  &__cancel {
    grid-column-start: 3;
    @include phone {
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }
}
