.room {
    &__label {
        margin-bottom: 20px;
        &_feedback {
            display: flex;
            justify-content: space-between;
        }
    }
    &__preview-images {
        width: 100%;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-areas:
            'main-image second-image-top'
            'main-image second-image-bottom';
        @include tablet-portrait {
            grid-template-areas: 'main-image main-image';
            grid-template-rows: minmax(min-content, 100px);
        }
    }
    &__main-image {
        & img {
            width: 100%;
            height: 100%;
        }
        grid-area: main-image;
    }

    &__second-image {
        & img {
            width: 100%;
            display: block;
        }

        &_bottom {
            grid-area: second-image-bottom;
        }

        &_top {
            grid-area: second-image-top;
        }
    }

    &__inner {
        padding: 70px 0;
        display: grid;
        grid-template-columns: 1fr 70px 380px;
        @include sm-desktop {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 30px;
        }
    }
    &__booking {
        grid-column: 3;
        height: 512px;
        @include sm-desktop {
            grid-column: 1;
            grid-row: 2;
            grid-template-columns: 1fr;
        }
    }

    &__overview {
        display: grid;
        grid-template-columns:
            280px
            minmax(10px, 80px)
            minmax(200px, 350px)
            minmax(10px, 70px)
            1fr;
        grid-template-rows: 290px minmax(300px, 1fr) 270px;
        row-gap: 30px;
        @include sm-desktop {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &__impressions {
        grid-column: 3;
        display: flex;
        flex-direction: column;
        @include md-desktop {
            align-items: center;
        }
    }
    &__feedback {
        grid-column: 1/4;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        row-gap: 22px;
    }

    &__rules {
        grid-row: 3;
    }

    &__cancel {
        grid-column: 3;
        grid-row: 3;
        &-text {
            line-height: 1.7;
        }
    }
}
