extends ../../layout/room-layout.pug

block room
	include ../../components/footer/footer.pug
	include ../../components/header/header.pug
	include ../../components/text-titles/text-titles.pug
	include ../../components/review-list/review-list.pug
	include ../../components/chart/chart.pug
	include ../../components/feedback/feedback.pug
	include ../../components/bullet-list/bullet-list.pug
	include ../../components/booking-card/booking-card.pug

	.room
		+header 
		.room__preview-images 
			.room__main-image
				img(src="assets/images/main-image-room.jpg", alt="Room photo")
			.room__second-image.room__second-image_top
				img(src="assets/images/second-image-room.jpg", alt="Room photo")
			.room__second-image.room__second-image_bottom
				img(src="assets/images/third-image-room.jpg", alt="Room photo")
		.container
			.room__inner 
				.room__overview
					.room__about
						.room__label
							+title-inside-widget({text:'Сведения о номере'})
						+review-list({items:[{img:'review-image1.svg', alt:'comfort', title:'Комфорт',subtitle:'Шумопоглощающие стены'}, {img:'review-image2.svg', alt:'convenience', title:'Удобство',subtitle:'Окно в каждой из спален'}, {img:'review-image3.svg', alt:'cosiness', title:'Уют', subtitle:'Номер оснащён камином'} ] })
					.room__impressions
						.room__label 
							+title-inside-widget({text:'Впечатления от номера'})
						.room__impressions-chart
							+chart({great:130,good:65,satisfied:65})
					.room__feedback 
						.room__label.room__label_feedback
							+title-inside-widget({text:'Отзывы посетителей'})
							+body-text({text:'2 отзыва'})
						.room__feedback-item
							+feedback({avatar:'avatar.svg',alt:'avatar',name:'Мурад Сарафанов', lastVisit:'5 дней назад', comment:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',likeState:'checked',likesCount:12})
						.room__feedback-item
							+feedback({avatar:'avatar.svg',alt:'avatar',name:'Патрисия Стёклышкова', lastVisit:'Неделю назад', comment:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.',likesCount:2})
					.room__rules 
						.room__label
							+title-inside-widget({text:'Правила'})
						.room__rules-list 
							+bullet-list({items:[{text:'Нельзя с питомцами'},{text:'Без вечеринок и мероприятий'},{text:'Время прибытия — после 13:00, а выезд до 12:00'} ]})
					.room__cancel
						.room__label
							+title-inside-widget({text:'Отмена'})
						.room__cancel-text 
							+body-text({text:'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'})
				.room__booking 
					+booking-card({roomNumber:888, price:9900,isLuxury:true})
		+footer
