mixin chart({great=0,good=0,satisfied=0,disappointed=0}={})
  .chart
    .chart__votes
      .chart__votes-count 260
      .chart__votes-text голосов
    canvas.chart__impressions.js-chart__impressions(width='340' height='125')
