mixin chart({great=0,good=0,satisfied=0,disappointed=0}={})
	.chart
		canvas#impressions(width='100px', height='100px')
		#impressions-votes.chart__votes
			.chart__vote.chart__vote_great(data-value=great) Великолепно
			.chart__vote.chart__vote_good(data-value=good) Хорошо
			.chart__vote.chart__vote_satisfied(data-value=satisfied) Удовлетворительно
			.chart__vote.chart__vote_disappointed(data-value=disappointed) Разочарован
