.chart {
  @include size(335px, 125px);
  color: $main-color;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;

  @include media-breakpoint(md) {
    @include size(320px, 180px);
  }
}
