.chart {
  width: 340px;
  height: 125px;
  color: $main-color;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: relative;

  &__votes {
    top: 45px;
    left: 32px;
    position: absolute;
    &-count {
      font-size: 24px;
    }
    &-text {
      font-size: 12px;
    }
  }

  &__impressions {
    position: relative;
    right: 23px;
  }
}
