- let idRate = 0

mixin inputRate()
        label(for=`rate${++idRate}`).input-selection__item.input-selection__item_rate
            each val in [1, 2, 3, 4, 5]
                input(type="radio" name='rate' id=`rate${idRate}` value=val).input-selection__field.input-selection__field-custom_rate