include ../views/components/bullet-list/bullet-list.pug
include ../views/components/button/button.pug
include ../views/components/chart/chart.pug
include ../views/components/checkbox-list/checkbox-list.pug
include ../views/components/checkbox/checkbox.pug
include ../views/components/color/color.pug
include ../views/components/dropdown/dropdown.pug
include ../views/components/expand-list/expand-list.pug
include ../views/components/feedback/feedback.pug
include ../views/components/filter-date/filter-date.pug
include ../views/components/text-titles/text-titles.pug
include ../views/components/footer/footer.pug
include ../views/components/header/header.pug
include ../views/components/like/like.pug
include ../views/components/logo/logo.pug
include ../views/components/masked-text-field/masked-text-field.pug
include ../views/components/nav/nav.pug
include ../views/components/pagination/pagination.pug
include ../views/components/preview-room/preview-room.pug
include ../views/components/radio-list/radio-list.pug
include ../views/components/range-date/range-date.pug
include ../views/components/range-slider/range-slider.pug
include ../views/components/rate/rate.pug
include ../views/components/review-list/review-list.pug
include ../views/components/rich-checkbox/rich-checkbox.pug
include ../views/components/rich-checkbox-list/rich-checkbox-list.pug
include ../views/components/subscribe-text-field/subscribe-text-field.pug
include ../views/components/text-field/text-field.pug
include ../views/components/toggle/toggle.pug
include ../views/components/card/card.pug
include ../views/components/search-room-card/search-room-card.pug
include ../views/components/booking-card/booking-card.pug
include ../views/components/card-room-info/card-room-info.pug
include ../views/components/login-card/login-card.pug
include ../views/components/register-card/register-card.pug
include ../views/components/card-room-info/card-room-info.pug


