@import '../../components/like/like.scss';

.feedback {
  display: flex;
  flex-direction: column;
  background-color: $white;
  color: $dark-shade-75;

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &-avatar {
      @include size(48px);
      border-radius: 50%;
      border: 2px solid $white;
      box-shadow: 0 10px 20px rgba($color: $dark-shade-100, $alpha: 0.1);
      margin-right: 9px;
    }

    &-name {
      margin-bottom: 3px;
      font-weight: bold;
      line-height: $main-line-height;
    }
  }

  &__like {
    margin-right: 14px;
    margin-left: 3px;
    margin-top: 2px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    line-height: $main-line-height;
  }

  &__comment {
    @include body-text;
  }
}
