include ./basic-styles/color.pug
include ./basic-styles/font.pug


include ./inputs/input-date.pug
include ./inputs/input-dropdown.pug
include ./inputs/input-text.pug
include ./inputs/input-selections.pug
include ./inputs/input-button.pug


include ./list/bullet-list.pug
include ./list/review-list.pug


include ./feedback/feedback.pug


include ./cards/room-expenses.pug
include ./cards/room-header.pug
include ./cards/room-feedback.pug
include ./cards/room-img.pug


include ./site-templates/header.pug
include ./site-templates/preview-room.pug
include ./site-templates/pagination.pug



