include ./inputs/input-date.pug
include ./inputs/input-dropdown.pug
include ./inputs/input-text.pug

include ./selections/input-checkbox.pug
include ./selections/input-radio.pug
include ./selections/input-toggle.pug
include ./selections/input-like.pug

include ./buttons/input-range.pug
