include ./input-text/input-date.pug
include ./input-text/input-dropdown.pug
include ./input-text/input-text.pug

include ./input-selection/input-checkbox.pug
include ./input-selection/input-radio.pug
include ./input-selection/input-toggle.pug
include ./input-selection/input-like.pug
include ./input-selection/input-rate.pug

include ./input-range/input-range.pug

include ./input-button/input-button.pug
include ./input-button/pagination.pug
