
mixin text-field({name="",placeholder='', type='text', value=""})
    .text-field
        .text-field__container
            input.text-field__input(type=type, name=name placeholder=placeholder value=value)