.text-field {
  @include size(100%);

  &__labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__label {
    @include block-label;
  }

  &__sub-label {
    @include block-sub-label;
  }

  &__container {
    border-radius: 4px;
  }
}
