include ../block-sub-label/block-sub-label.pug
include ../block-label/block-label.pug


mixin text-field({label='',subLabel=''}={})
  .text-field 
    if label
      .text-field__labels
        +block-label({text:label})
        if subLabel
          +block-sub-label({text:subLabel})
    .text-field__container
      block
