.text-field {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__label {
        margin-bottom: 5px;
    }

    &__container {
        position: relative;
        height: 44px;
        border-radius: 4px;
        background-color: $white;
        &_send-email {
            display: flex;
            align-items: center;
        }
        &.guests,
        &.apartments {
            border-radius: 4px 4px 0px 0px;
        }
    }

    &__input {
        height: 44px;
        width: 100%;
        padding: 0 15px;

        border: none;
        border: 1px solid $shadow-25;
        border-radius: 4px;
        outline: none;

        font-family: inherit;

        &::placeholder {
            color: $shadow-25;
        }
        &:hover {
            border: 1px solid $shadow-50;
        }

        &:focus {
            border: 1px solid $shadow-50;
        }

        &_date {
            cursor: pointer;
            &::placeholder {
                color: $shadow-75;
            }
        }
    }
}
