

mixin like({id='', name='', count=0,state=''})
        label.like
            if state === 'checked'
                input(type="checkbox" name=name id=id checked).like__input
            else
                input(type="checkbox" name=name id=id).like__input
            span.like__custom-input
                =count