mixin like({ name = '', count = 0, state = '' } = {})
  - 
    const spanClasses = 
        state === 'checked' ? 'like__custom-input_active' : '';

  label.like
    input.like__input(type="checkbox", name=name, checked=state || false)
    span.like__custom-input.js-like__custom-input(class=spanClasses)= count
