.datepicker {
    box-sizing: inherit;
    color: $shadow-50;
    font-size: 12px;
    font-family: inherit;
    @include size(320px, 370px);
    padding: 20px;

    &--content {
        padding: 0 4px;
        margin-bottom: 20px;
    }
    &--nav {
        padding: 0;
        margin-bottom: 30px;

        border: none;

        &-action path {
            stroke: none;
            fill: $main-color;
        }
        &-action svg {
            @include size(24px);
        }
    }

    &--buttons {
        display: flex;
        justify-content: space-between;

        border: none;

        padding: 0;
    }
    &--button {
        color: $main-color;
        font-weight: bold;
        text-transform: uppercase;

        flex: 0;

        &:hover {
            background-color: transparent;
            color: $main-color;
        }
    }

    &--nav-title {
        font-weight: bold;
        font-size: 19px;
        color: $shadow-100;

        i {
            color: $shadow-100;
        }
    }

    &--day-name {
        font-weight: bold;
        font-size: 12px;
        color: $main-color;

        @include size(38.5px);
    }

    &--cell {
        &-day {
            @include size(38.5px);
        }
        &.-current- {
            border-radius: 50%;
            @include second-gradient-to-bottom;
            color: $white;

            &.-focus- {
                color: $white;
            }

            &.-in-range- {
                color: $shadow-50;
                border-radius: 0;

                &.-focus- {
                    color: $shadow-50;
                }
            }
        }

        &.-range-from- {
            position: relative;
        }

        &.-range-from-::after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 20px;
            height: 100%;
            right: 0;
            @include main-gradient-to-bottom(
                rgba($main-color, 0.25),
                rgba($gradient-main-color, 0.25)
            );
        }

        &.-range-to-::before {
            z-index: -1;
            content: '';
            position: absolute;
            width: 20px;
            height: 100%;
            left: 0;
            @include main-gradient-to-bottom(
                rgba($main-color, 0.25),
                rgba($gradient-main-color, 0.25)
            );
        }

        &.-range-from-,
        &.-range-to-,
        &.-focus-,
        &.-selected- {
            border-radius: 50%;
            border: none;
            @include main-gradient-to-bottom;
            color: $white;
            font-weight: bold;
        }

        &.-selected- {
            &.-focus- {
                border-radius: 50%;
                border: none;
                @include main-gradient-to-bottom;
                color: $white;
                font-weight: bold;
            }
            &.-current- {
                border-radius: 50%;
                border: none;
                @include main-gradient-to-bottom;
                color: $white;
                font-weight: bold;
            }
        }

        &.-in-range- {
            color: $white;
            color: $shadow-50;
            background: linear-gradient(
                to bottom,
                rgba($main-color, 0.25),
                rgba($gradient-main-color, 0.25)
            );

            &.-focus- {
                border-radius: 0;
                background: linear-gradient(
                    to bottom,
                    rgba($main-color, 0.25),
                    rgba($gradient-main-color, 0.25)
                );
            }
        }
    }

    &_md {
        padding: 7px;
        @include size(266px, 300px);
        .datepicker--content {
            margin-bottom: 10px;
        }
        .datepicker--nav {
            margin-bottom: 10px;
            &-action svg {
                @include size(18px);
            }
        }
        .datepicker--cell {
            &-day {
                @include size(30px);
            }
        }
    }
}
