.pagination {
    &__items {
        display: flex;
        font-family: inherit;
        margin-bottom: 10px;
    }

    &__title {
        text-align: center;
    }

    &__item {
        cursor: pointer;
        color: $shadow-50;
        border-radius: 50%;
        @include size(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
        &.active {
            color: $white;
            @include main-gradient-to-bottom();
        }
        &_next {
            color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            @include second-gradient-to-bottom();
        }
    }
}
