.swiper {
    position: relative;

    &-pagination {
        text-align: right;
        padding-right: 10px;
        &-bullet {
            border: 1.5px solid #fff;
            opacity: 1;
            background-color: transparent;

            &-active {
                background-color: #fff;
            }
        }
    }

    &-button-next:after,
    &-button-prev:after {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }
}
