//fonts
$font: 'Montserrat', sans-serif;

//colors
$shadow-100: #1f2043;
$shadow-75: rgba(#1f2043, 0.75);
$shadow-50: rgba(#1f2043, 0.5);
$shadow-25: rgba(#1f2043, 0.25);
$shadow-5: rgba(#1f2043, 0.05);

$main-color: #bc9cff;
$second-color: #6fcf97;

$font-color: #1f2041;

$gradient-main-color: #8ba4f9;
$gradient-second-color: #66d2ea;

//size
$desktop-width: 1280px;
$sm-desktop-width: 980px;
$table-width: 768px;
$phone-width: 480px;
$sm-phone-width: 320px;

$main-font-size: 14px;
$main-font-weight: 400;
$main-line-height: 1.4;
