



.checkbox-templates__list 
    +inputCheckbox({breakfast:'Завтрак',table:'Письменный стол',childChair:'Стул для кормления',childBed:'Кроватка',tv:'Телевизор',shampoo:'Шампунь'},true)
    +inputCheckbox({breakfast:'Завтрак',table:'Письменный стол',childChair:'Стул для кормления',childBed:'Кроватка',tv:'Телевизор',shampoo:'Шампунь'},true)
.checkbox-templates__rich-buttons
    +inputRichCheckbox({hallway:{title:'Широкий коридор', desc:'Ширина коридоров в номере не менее 91 см.'},invalidHelper:{title:'Помощник для инвалидов', desc:'На 1 этаже вас встретит специалист  и проводит до номера.'}})
.checkbox-templates__bullet-list
    .label.label_mb_16 Bullet list
    +bulletList(['Нельзя с питомцами','Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])





