


.dropdown-templates__apartments
    .dropdown-templates__apartments-dropdown
        +inputDropDown('Dropdown',{bedrooms:'Комнаты',beds:'Кровати',bathrooms:'Ванные комнаты'},'apartments','md')
    .dropdown-templates__apartments-dropdown
        +inputDropDown('Dropdown',{bedrooms:'Комнаты',beds:'Кровати',bathrooms:'Ванные комнаты'},'apartments','md')
.dropdown-templates__guests
    .dropdown-templates__guests-dropdown
        +inputDropDown('Dropdown',{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},'guests','lg')
    .dropdown-templates__guests-dropdown
        +inputDropDown('Dropdown',{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},'guests','lg')


