
.input-templates
    .input-templates__text-fields
        .input-templates__text-field
            +inputText('Text field','email','Email','email')
        .input-templates__text-field    
            +inputText('Text field','email','Email','text','This is pretty awesome')
        .input-templates__text-field
            +inputDropDown('Dropdown',{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},'guests','lg')
        .input-templates__text-field.input-templates__text-field_masked
            +inputMaskedText('Masked Text field','date','ДД.ММ.ГГГГ')
        .input-templates__text-field.input-templates__text-field_date
            +inputRangeDate('Date Dropdown','Date Dropdown')
        .input-templates__text-field.input-templates__text-field_filter-date
            +inputFilterRangeDate('Filter Date Dropdown','Select the date')
        .input-templates__text-field.input-templates__text-field_send-email
            .label subscription text field
            +inputSendEmail('Filter Date Dropdown','Email')

    .input-templates__selections
        .input-templates__checkbox
            h3.label.label_mb_16 Checkbox Buttons
            +inputCheckbox({smoke:"Можно курить",animal: "Можно с питомцами", guests: "Можно пригласить гостей (до 10 человек)"})
        .input-templates__radio
            h3.label.label_mb_16 Radio Buttons
            +inputRadio(["Мужчина", "Женщина"],"gender")
        .input-templates__toggle
            h3.label.label_mb_16 Toggle
            .input-selection.input-selection_toggle
                +inputToggle("Получать спецпредложения","offer")
                +inputToggle("Получать спецпредложения","offer")
        .input-templates__like
            h3.label.label_mb_16 Like button
            .input-selection.input-selection_like
                +inputLike(2)
                +inputLike(12)
        .input-templates__rate
            h3.label.label_mb_16 Rate button
            .input-selection.input-selection_rate
                +inputRate('rate-one')
                +inputRate('rate-two')

    .input-templates__buttons
        .input-templates__range
            +inputRange('Range Slider')
        .input-templates__button
            h3.label.label_mb_16 Buttons
            .input-templates__button-inner.input-templates__button-inner_bordered
                +inputBorderButton('Click Me',false)
                +inputBorderButton('Click Me',false)
                +inputBorderButton('Click Me')
                +inputBorderButton('Click Me')
            .input-templates__button-inner.input-templates__button-inner_no-bordered
                +inputNoBorderButton('Click Me',false)
                +inputNoBorderButton('Click Me',false)
            .input-templates__button-inner.input-templates__button-inner_long
                +inputBorderButton('Перейти к оплате',false,true)
        .input-templates__pagination
            h3.label.label_mb_16 Pagination
            +pagination()
        
        



