@font-face {
  font-family: Montserrat;
  src: url('../../fonts/montserrat/montserrat-regular.woff2'),
    url('../../fonts/montserrat/montserrat-regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../../fonts/montserrat/montserrat-bold.woff2'),
    url('../../fonts/montserrat/montserrat-bold.woff');
  font-weight: bold;
}
