@import './mixins';
@import './vars';
@import './fonts';

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: $html-line-height;
  font-size: $main-font-size;
  color: $font-color;
  overflow-x: hidden;
  font-family: Montserrat, Arial, sans-serif;

  @media screen and(max-width:$desktop-width) {
    font-size: 13px;
  }

  @media screen and(max-width:$table-width) {
    font-size: 12px;
  }
}

*::placeholder {
  font-size: $main-font-size;
  @include media-breakpoint(sm) {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @include main-gradient-to-bottom;
  border-radius: 10px;
}
