@use 'sass:math';

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin container() {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  @include phone {
    padding: 0 10px;
  }
}

@mixin button {
  font-weight: bold;
  border: none;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  line-height: 1.2;
  font-size: $second-font-size;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-family: inherit;
  text-decoration: none;
}

@mixin outlined-button() {
  @include button;
  color: $main-color;
  position: relative;
  border: 2px solid transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom, $main-color, $gradient-main-color);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 0.1s linear;

  &:hover {
    opacity: 0.8;
    border: 2px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(white, white),
      linear-gradient(
        to bottom,
        rgba($main-color, 0.5),
        rgba($gradient-main-color, 0.5)
      );
  }

  &:active {
    opacity: 1;
    background-image: linear-gradient(white, white),
      linear-gradient(
        to bottom,
        rgba($main-color, 1),
        rgba($gradient-main-color, 1)
      );
  }
}

@mixin no-bordered-button {
  @include button;
  @include size(inherit);
  color: $main-color;
  background-color: transparent;

  &:hover {
    color: $dark-shade-50;
  }

  &:active {
    color: $main-color;
  }
}

@mixin filled-button() {
  @include button;
  @include main-gradient-to-bottom;
  color: $white;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 1;
  }
}

@mixin block-label {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: $second-font-size;
  text-transform: uppercase;
  line-height: $second-line-height;
}

@mixin block-sub-label {
  color: $dark-shade-100;
  font-weight: normal;
  font-size: $second-font-size;
  text-transform: uppercase;
}

@mixin body-text {
  color: $dark-shade-75;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

@mixin widget-title {
  color: $dark-shade-100;
  font-weight: bold;
  line-height: 1.2;
  font-size: $widget-font-size;
}

@mixin title-inside-widget {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: $inside-widget-font-size;
  line-height: 1.1;
}

@mixin main-gradient-to-bottom(
  $color: $main-color,
  $second-color: $gradient-main-color
) {
  background: linear-gradient(to bottom, $color, $second-color);
}

@mixin shadow {
  box-shadow: 0 10 20px $dark-shade-5;
}

@mixin second-gradient-to-bottom(
  $color: $second-color,
  $second-color: $gradient-second-color
) {
  background: linear-gradient(to bottom, $color, $second-color);
}

@mixin dropdown-arrow($right: 0px, $top: 0px, $position: absolute) {
  content: '';
  @include size(8px);
  border-bottom: 2px solid rgba(31, 32, 67, 0.5);
  border-left: 2px solid rgba(31, 32, 67, 0.5);
  cursor: pointer;
  position: $position;
  right: $right;
  top: $top;
  transition: all 0.2s linear;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@mixin text-field() {
  @include size(100%, 44px);
  padding: 0 15px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  outline: none;
  position: relative;
  font-family: inherit;
  font-size: $main-font-size;
  transition: all 0.2s linear;
  color: $dark-shade-75;

  &:hover {
    border: 1px solid $dark-shade-50;
  }

  &::placeholder {
    color: $dark-shade-25;
  }

  &:focus {
    border: 1px solid $dark-shade-50;
  }

  @content;
}

@mixin card {
  @include size(100%);
  padding: 30px;
  padding-top: 40px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba($color: $black, $alpha: 0.2);

  @include phone {
    padding: 20px;
    padding-top: 40px;
  }
}

@mixin sm-phone {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin landscape-phone {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin sm-tablet-portrait {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin md-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
