@use 'sass:math';

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin block-label {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: $second-font-size;
  text-transform: uppercase;
  line-height: $second-line-height;
}

@mixin block-sub-label {
  color: $dark-shade-100;
  font-weight: normal;
  font-size: $second-font-size;
  text-transform: uppercase;
}

@mixin body-text {
  color: $dark-shade-75;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

@mixin widget-title {
  color: $dark-shade-100;
  font-weight: bold;
  line-height: 1.2;
  font-size: $widget-font-size;
}

@mixin title-inside-widget {
  color: $dark-shade-100;
  font-weight: bold;
  font-size: $inside-widget-font-size;
  line-height: 1.1;
}

@mixin main-gradient-to-bottom($color: $main-color, $second-color: $gradient-main-color) {
  background: linear-gradient(to bottom, $color, $second-color);
}

@mixin shadow {
  box-shadow: 0 10 20px $dark-shade-5;
}

@mixin second-gradient-to-bottom(
  $color: $second-color,
  $second-color: $gradient-second-color
) {
  background: linear-gradient(to bottom, $color, $second-color);
}

@mixin dropdown-arrow($right: 0px, $top: 0px, $position: absolute) {
  content: '';
  @include size(8px);
  border-bottom: 2px solid rgba(31, 32, 67, 0.5);
  border-left: 2px solid rgba(31, 32, 67, 0.5);
  cursor: pointer;
  position: $position;
  right: $right;
  top: $top;
  transition: all 0.2s linear;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@mixin text-field() {
  @include size(100%, 44px);
  padding: 0 15px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  outline: none;
  position: relative;
  font-family: inherit;
  font-size: $main-font-size;
  transition: all 0.2s linear;

  &:hover {
    border: 1px solid $dark-shade-50;
  }

  &::placeholder {
    color: $dark-shade-25;
  }

  &:focus {
    border: 1px solid $dark-shade-50;
  }

  @content;
}

@mixin phone {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin landscape-phone {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin sm-tablet-portrait {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin md-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
