

.input-templates
    .input-templates__text
        +inputText('Text field','email','Email','email')
        +inputText('Text field','email','Email','text','This is pretty awesome')
        +inputDropDown('Dropdown')
        +inputMaskedText('Masked Text field','date','ДД.ММ.ГГГГ','text')
    .input-templates__date
        