
.input-templates.input-templates_input-text
    .input-templates__text-field
        +inputText('Text field','email','Email','email')
        +inputText('Text field','email','Email','text','This is pretty awesome')
        +inputDropDown('Dropdown')
        +inputMaskedText('Masked Text field','date','ДД.ММ.ГГГГ','text')
    .input-templates__date
        +inputRangeDate('Date Dropdown','Date Dropdown')
    .input-templates__filter-date
        +inputFilterRangeDate('Filter Date Dropdown')
    .input-templates__send-email
        +inputSendEmail('Filter Date Dropdown','Email')

.input-templates.input-templates_input-selection
    .input-templates__checkbox
        .label.label_mb_16 Checkbox Buttons
        +inputCheckbox({smoke:"Можно курить",animal: "Можно с питомцами", guests: "Можно пригласить гостей (до 10 человек)"})
    .input-templates__radio
        .label.label_mb_16 Radio Buttons
        +inputRadio(["Мужчина", "Женщина"],"gender")
    .input-templates__toggle
        .label.label_mb_16 Toggle
        .input-selection.input-selection_toggle
            +inputToggle("Получать спецпредложения","offer")
            +inputToggle("Получать спецпредложения","offer")
    .input-templates__like
        .label.label_mb_16 Like button
        .input-selection.input-selection_like
            +inputLike(2)
            +inputLike(12)
    .input-templates__rate
        .label.label_mb_16 Rate button
        .input-selection.input-selection_rate
            +inputRate('rate-one')
            +inputRate('rate-two')

.input-templates.input-templates_input-button
    .input-templates__range
        +inputRange('Range Slider')
    .input-templates__button
        .label.label_mb_16 Buttons
        .button-row
            +inputButton('Click Me')
            +inputButton('Click Me')
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
//-  я тебя люплю и я тепя люблю