
.input-templates.input-templates_field
    .input-templates__text
        +inputText('Text field','email','Email','email')
        +inputText('Text field','email','Email','text','This is pretty awesome')
        +inputDropDown('Dropdown')
        +inputMaskedText('Masked Text field','date','ДД.ММ.ГГГГ','text')
    .input-templates__date
        +inputRangeDate('Date Dropdown','Date Dropdown')
    .input-templates__filter-date
        +inputFilterRangeDate('Filter Date Dropdown')
    .input-templates__send-email
        +inputSendEmail('Filter Date Dropdown','Email')

.input-templates.input-templates_selection
    .input-templates__checkbox
        +inputCheckbox(["Можно курить","Можно с питомцами", "Можно пригласить гостей (до 10 человек)"],"Checkbox Buttons")
    .input-templates__radio

    .input-templates__toggle

    .input-templates__like

    .input-templates__rate

.input-templates.input-templates_buttons
    .input-templates__range
        +inputRange('Range Slider')
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
//-  я тебя люплю и я тепя люблю