


.dropdown-template__apartments
    .dropdown-template__apartments-item
        +inputDropDown('Dropdown',{bedrooms:'Комнаты',beds:'Кровати',bathrooms:'Ванные комнаты'},'apartments','md')
    .dropdown-template__apartments-item
        +inputDropDown('Dropdown',{bedrooms:'Комнаты',beds:'Кровати',bathrooms:'Ванные комнаты'},'apartments','md')
.dropdown-template__guests
    .dropdown-template__guests-item
        +inputDropDown('Dropdown',{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},'guests','lg')
    .dropdown-template__guests-item
        +inputDropDown('Dropdown',{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},'guests','lg')


