
.input-template.input-template_input-text
    .input-template__text-field
        +inputText('Text field','email','Email','email')
    .input-template__text-field    
        +inputText('Text field','email','Email','text','This is pretty awesome')
    .input-template__text-field
        +inputDropDown('Dropdown',{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},'guests','lg')
    .input-template__text-field.input-template__text-field_masked
        +inputMaskedText('Masked Text field','date','ДД.ММ.ГГГГ')
    .input-template__text-field.input-template__text-field_date
        +inputRangeDate('Date Dropdown','Date Dropdown')
    .input-template__text-field.input-template__text-field_filter-date
        +inputFilterRangeDate('Filter Date Dropdown')
    .input-template__text-field.input-template__text-field_send-email
        .label subscription text field
        +inputSendEmail('Filter Date Dropdown','Email')

.input-template.input-template_input-selection
    .input-template__checkbox
        .label.label_mb_16 Checkbox Buttons
        +inputCheckbox({smoke:"Можно курить",animal: "Можно с питомцами", guests: "Можно пригласить гостей (до 10 человек)"})
    .input-template__radio
        .label.label_mb_16 Radio Buttons
        +inputRadio(["Мужчина", "Женщина"],"gender")
    .input-template__toggle
        .label.label_mb_16 Toggle
        .input-selection.input-selection_toggle
            +inputToggle("Получать спецпредложения","offer")
            +inputToggle("Получать спецпредложения","offer")
    .input-template__like
        .label.label_mb_16 Like button
        .input-selection.input-selection_like
            +inputLike(2)
            +inputLike(12)
    .input-template__rate
        .label.label_mb_16 Rate button
        .input-selection.input-selection_rate
            +inputRate('rate-one')
            +inputRate('rate-two')

.input-template.input-template_input-button
    .input-template__range
        +inputRange('Range Slider')
    .input-template__button
        .label.label_mb_16 Buttons
        .button-block.button-block_bordered
            +inputBorderButton('Click Me',false)
            +inputBorderButton('Click Me',false)
            +inputBorderButton('Click Me')
            +inputBorderButton('Click Me')
        .button-block.button-block_no-bordered
            +inputNoBorderButton('Click Me',false)
            +inputNoBorderButton('Click Me',false)
        .button-block.button-block_long
            +inputBorderButton('Перейти к оплате',false,true)
    .input-template__pagination
        .label.label_mb_16 Pagination
        +pagination
        
        



