

.review-template__review
    +reviewList([{img:'../../../assets/img/ReviewImage1.svg',alt:'Комфорт',title:'Комфорт',desc:'Шумопоглощающие стены'},{img:'../../../assets/img/ReviewImage2.svg', alt:'Комфорт',title:'Удобство',desc:'Окно в каждой из спален'}])

.review-template__feedback
    +feedback({avatar:'../../../assets/img/Avatar.svg',alt:'Аватар',name:'Мурад Сарафанов',lastVisit:'5 дней назад',likesCount:'12',comment:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})