.dropdown {
  display: flex;
  flex-direction: column;
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__labels {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  &__field {
    height: 44px;
    border-radius: 4px 4px 0 0;
    border: 1px solid $shadow-25;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      border-bottom: 2px solid #1f204380;
      border-left: 2px solid #1f204380;
      cursor: pointer;
      height: 8px;
      position: absolute;
      right: 18px;
      top: 17px;
      transform: rotate(-45deg);
      width: 8px;
      transition: all 0.2s linear;
    }
    &.open::after {
      transform: rotate(135deg);
    }
  }

  &__list {
    box-sizing: border-box;
    display: none;
    border: 1px solid $shadow-50;
    border-top: none;
    top: 43px;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: $white;
    z-index: 100;
  }

  &__field.open &__list {
    display: block;
  }

  &__selection {
    display: flex;
    width: 100%;
    align-items: center;
  }
}
