include ../text-titles/text-titles.pug
include ../button/button.pug

mixin dropdown({label='', subLabel='', type='guests', size="lg",id=''}={})
  .dropdown
    .dropdown__labels
      +block-label({text:label})
      if subLabel
        +block-sub-label({text:subLabel})
    .dropdown__field(class=`dropdown__field_${type}` id=id)