.dropdown {
  display: flex;
  flex-direction: column;
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__labels {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  &__field {
    height: 44px;
    border-radius: 4px 4px 0 0;
    border: 1px solid $shadow-25;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      border-bottom: 2px solid #1f204380;
      border-left: 2px solid #1f204380;
      cursor: pointer;
      height: 8px;
      position: absolute;
      right: 18px;
      top: 17px;
      transform: rotate(-45deg);
      width: 8px;
      transition: all 0.2s linear;
    }
    &.open::after {
      transform: rotate(135deg);
    }
  }

  &__list {
    cursor: default;
    display: none;
    border: 1px solid $shadow-50;
    border-top: none;
    top: 43px;
    position: relative;
    width: 100%;
    background-color: $white;
    z-index: 100;
    padding: 7px 7px 15px 15px;
    row-gap: 7px;
    &-item {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      text-transform: uppercase;
    }
    &-tools {
      display: flex;
    }
    &-decrement,
    &-increment {
      cursor: pointer;
      @include size(30px);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $shadow-25;
      border-radius: 50%;
      background-color: $white;
      transition: all 0.2s linear;
      font-size: 18px;
      color: $shadow-50;
      font-weight: normal;
      &:hover {
        background-color: $shadow-5;
      }
      &_disabled {
        opacity: 0.38;
        pointer-events: none;
      }
    }
    &-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      font-weight: bold;
    }
  }

  &__field.open {
    border-color: $shadow-50;
  }
  &__field.open &__list {
    display: flex;
    flex-direction: column;
  }
}
