.dropdown {
    display: flex;
    flex-direction: column;

    &.menu-open {
        border: 1px solid $shadow-50;
    }

    &__selection {
        display: flex;
        width: 100%;
        align-items: center;
    }
}
