.review-list {
  &__item {
    display: flex;
    align-items: center;
    background-color: $white;
    color: $dark-shade-75;

    &:not(:last-child) {
      padding-bottom: 17px;
      border-bottom: 1px solid rgba($color: #1f2041, $alpha: 0.1);
      margin-bottom: 23px;
    }
  }

  &__img-container {
    @include size(48px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    @include md-desktop {
      @include size(35px);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7;
  }

  &__title {
    font-weight: bold;
  }
}
