mixin review-list({ items = [] } = {})
  .review-list
    each item in items
      - const { img, title, subtitle, alt } = item;
      .review-list__item
        .review-list__img-container
          img.review-list__img(src=`assets/images/${img}`, alt=alt)
        .review-list__text
          .review-list__title= title
          .review-list__subtitle= subtitle
