extends ../../layout/ui-kit-page.pug

block title
  title Colors & fonts

block page
  include ../../components/color/color.pug

  - const darkColors = require('../../../data/colors').dark
  - const mainColors = require('../../../data/colors').main

  .colors-fonts
    .colors-fonts__container
      .colors-fonts__inner
        .colors-fonts__colors
          each darkColor in darkColors 
            - const { hex, text, opacity } = darkColor
            +color({ hex, text, opacity })
          each mainColor in mainColors 
            - const { hex, text, theme } = mainColor
            +color({ hex, text, theme })
        .colors-fonts__fonts
          .colors-fonts__font
            h1.colors-fonts__tag.colors-fonts__tag_type_widget h1
            .colors-fonts__text.colors-fonts__text_type_widget
              | This one is the sub-section or widget title
          .colors-fonts__font
            h2.colors-fonts__tag.colors-fonts__tag_type_inside-widget h2
            .colors-fonts__text.colors-fonts__text_type_inside-widget
              | Next one is the item title inside widgets
          .colors-fonts__font
            h3.colors-fonts__tag.colors-fonts__tag_type_label h3
            .colors-fonts__text.colors-fonts__text_type_label
              | This is a label or CTA text
          .colors-fonts__font
            p.colors-fonts__tag.colors-fonts__tag_type_text Body
            .color-fonts__text.color-fonts__tag_type_text
              | This is the body text which is used for most of the design,
              | like paragraphs, lists, etc.
