@import 'rootStyle';
@import 'components/color/color.scss';

.colors-fonts {
  padding: 100px 0;

  &__container {
    @include container;
  }

  &__colors {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__font {
    display: grid;
    grid-template-columns: 40px minmax(min-content, 370px);
    grid-column-gap: 20px;
    margin-bottom: 40px;
  }

  &__tag {
    text-transform: uppercase;
    color: $dark-shade-25;
    justify-self: end;
    font-weight: lighter;

    &_type {
      &_widget {
        font-size: $widget-font-size;
      }

      &_inside-widget {
        font-size: $inside-widget-font-size;
      }

      &_label {
        font-size: $second-font-size;
      }

      &_text {
        font-size: $main-font-size;
        text-transform: capitalize;
      }
    }
  }
  &__text {
    &_type {
      &_widget {
        @include widget-title;
      }

      &_inside-widget {
        @include title-inside-widget;
      }

      &_label {
        @include block-label;
      }

      &_text {
        @include body-text;
      }
    }
  }
}
