


mixin color(data)
    each item in data
        .color
            .color__box(style=`background-color:${item['hex']}; opacity:${item['opacity']}`)
            .color__description
                .color__title=item['title']
                .color__hex #{item['hex']}