extends ../../layout/main-page.pug

block title
  title Landing

block page
  include ../../components/search-room-card/search-room-card.pug
  .landing
    .landing__intro
      .container
        .landing__inner
          .landing__search-card
            +search-room-card
          .landing__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения
