@import '../../../assets/style/scss/index.scss';
@import '../../components/search-room-card/search-room-card.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

.landing {
  &__intro {
    height: 830px;
    background: url('images/landing-image.jpg') center bottom no-repeat;
    background-size: cover;
  }

  &__inner {
    padding-top: 70px;
    padding-bottom: 20px;
    height: 830px;
    display: grid;
    grid-template-columns: 380px 1fr minmax(0, 260px);
    grid-template-rows: 374px 1fr;

    @include phone {
      grid-template-columns: 1fr;
    }
  }

  &__slogan {
    line-height: $main-line-height;
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: end;
    text-align: end;
    color: $dark-shade-75;

    @include tablet-portrait {
      grid-column-start: 1;
      text-align: start;
    }
  }
}
