.landing {
	&__intro {
		height: 830px;
		background: url('images/landing-image.jpg') center bottom no-repeat;
		background-size: cover;
	}
	&__inner {
		padding-top: 70px;
		padding-bottom: 20px;
		height: 830px;
		display: grid;
		grid-template-columns: minmax(300px, 380px) 1fr minmax(0, 260px);
		grid-template-rows: 374px 1fr;
		@include phone {
			grid-template-columns: 1fr;
		}
	}

	&__slogan {
		line-height: 1.7;
		grid-column-start: 3;
		grid-row-start: 2;
		align-self: end;
		text-align: end;
		@include tablet-portrait {
			grid-column-start: 1;
			text-align: start;
		}
	}
}
