extends ../../layout/register-layout.pug

block register

	include ../../components/footer/footer.pug
	include ../../components/header/header.pug
	include ../../components/register-card/register-card.pug

	.register 
		+header
		.register__intro
			.container
				.register__inner
					.register__card
						+register-card
		+footer
