@import '../../../assets/style/scss/index.scss';
@import '../../components/header/header';
@import '../../components/register-card/register-card';
@import '../../components/footer/footer';

.register {
  &__intro {
    height: 684px;
    background: url('./images/auth-background.jpg') center bottom no-repeat;
    background-size: cover;
  }

  &__inner {
    height: 684px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;
  }

  &__card {
    width: 100%;
  }
}
