extends layout/main-page.pug

block title
  title Registration

block page
  include components/register-card/register-card.pug
  
  .register 
    .register__intro
      .register__container
        .register__inner
          .register__card
            +register-card
