@import '../../../style/scss/index.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';
@import '../../components/checkbox-list/checkbox-list.scss';
@import '../../components/dropdown/dropdown.scss';
@import '../../components/expand-list/expand-list.scss';
@import '../../components/filter-date/filter-date.scss';
@import '../../components/pagination/pagination.scss';
@import '../../components/card/card.scss';
@import '../../components/preview-room/preview-room.scss';
@import '../../components/range-slider/range-slider.scss';
@import '../../components/rich-checkbox-list/rich-checkbox-list.scss';
@import '../../components/datepicker/datepicker.scss';
@import '../../components/subscribe-text-field/subscribe-text-field.scss';
@import '../../components/pagination/pagination.scss';

.search-room {
  &__inner {
    padding-top: 30px;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 266px minmax(10px, 60px) 1fr;
    @include sm-tablet-portrait {
      grid-template-columns: 1fr;
      padding-top: 50px;
    }
  }

  &__filters {
    z-index: 1000;
    transition: all 0.3s linear;

    &-inner {
      background-color: $white;
    }

    @include sm-tablet-portrait {
      pointer-events: none;
      position: fixed;
      left: 0;
      top: 0;
      &.active {
        pointer-events: all;
        width: 100%;
        background-color: $dark-shade-50;
      }
      &-inner {
        transform: translateX(-400px);
        width: 400px;
        padding: 20px;
        @include phone {
          width: 260px;
        }
      }
      &.active &-inner {
        transform: translateX(0);
        height: 100vh;
        overflow: scroll;
      }
      &-inner::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  &__filters.active + &__cards {
    position: fixed;
  }

  &__filter {
    margin-bottom: 30px;
    &:first-child {
      margin-bottom: 20px;
    }
    &-icon {
      z-index: 90;
      cursor: pointer;
      position: absolute;
      top: 85px;
      right: 25px;
      display: none;
      @include sm-tablet-portrait {
        display: block;
      }
    }
  }

  &__slider-description {
    margin-top: 12px;
    font-size: $second-font-size;
    color: $dark-shade-50;
    line-height: $second-line-height;
  }

  &__cards {
    grid-column-start: 3;
    &-title {
      margin-bottom: 20px;
    }
    &-inner {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
      grid-column-gap: 10px;
      grid-row-gap: 21px;
      margin-bottom: 40px;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
  }
}
