extends ../../layout/main-page.pug

block title
  title Search room

block page
  include ../../components/range-slider/range-slider.pug
  include ../../components/checkbox-list/checkbox-list.pug
  include ../../components/dropdown/dropdown.pug
  include ../../components/rich-checkbox-list/rich-checkbox-list.pug
  include ../../components/filter-date/filter-date.pug
  include ../../components/expand-list/expand-list.pug
  include ../../components/preview-room/preview-room.pug
  include ../../components/pagination/pagination.pug
  include ../../components/widget-title/widget-title.pug

  - const roomsData = require('../../../data/preview-rooms-data')
  - const expandData = require('../../../data/expand-list-data')
  - const checkboxData = require('../../../data/checkbox-list-data')
  - const guestDropdownData = require('../../../data/dropdown-guests-data')
  - const apartmentsDropdownData = require('../../../data/dropdown-apartments-data')

  .search-room
    .container
      .search-room__inner
        .search-room__filter-icon.js-search-room__filter-icon 
          img(src='assets/images/filter-icon.svg', alt='filters')
        .search-room__filters
          .search-room__filters-inner
            .search-room__filter
              +filter-date({label:'Даты пребывания в отеле', dateFrom:'08.19.2022', dateTo:'08.23.2022'})
            .search-room__filter
              +dropdown({label:'Гости',type:'guests', size:'md', data:guestDropdownData.withChildren})
            .search-room__filter 
              +range-slider({label:'Диапазон цены'})
              .search-room__slider-description Стоимость за сутки пребывания в номере
            .search-room__filter 
              +checkbox-list({label:'Правила дома', items:checkboxData.default})
            .search-room__filter 
              +rich-checkbox-list({label:'Доступность', items:checkboxData.rich})
            .search-room__filter
              +dropdown({label:'Удобства номера',size:'md', type:'apartments',data: apartmentsDropdownData.data})
            .search-room__filter
              +expand-list({label:'Дополнительные удобства', items:expandData.data})
        .search-room__cards
          .search-room__cards-title 
            +widget-title({text:'Номера, которые мы для вас подобрали'})
          .search-room__cards-inner
            each roomData in roomsData.data
              .search-room__card
                +preview-room(roomData)
          .search-room__pagination
            +pagination
