extends ../../layout/main-page.pug

block title
  title Search room

block page
  include ../../components/range-slider/range-slider.pug
  include ../../components/checkbox-list/checkbox-list.pug
  include ../../components/dropdown/dropdown.pug
  include ../../components/rich-checkbox-list/rich-checkbox-list.pug
  include ../../components/filter-date/filter-date.pug
  include ../../components/expand-list/expand-list.pug
  include ../../components/preview-room/preview-room.pug
  include ../../components/pagination/pagination.pug
  -
    const roomsData = require('../../../data/preview-rooms-data').data;
    const expandData = require('../../../data/expand-list-data').data;
    const checkboxData = require('../../../data/checkbox-list-data');
    const guestDropdownData = require('../../../data/dropdown-guests-data');
    const apartmentsDropdownData = 
      require('../../../data/dropdown-apartments-data').data;

  .search-room
    .container
      section.search-room__inner
        .search-room__filters-icon.js-search-room__filters-icon 
          img(src="assets/images/filter-icon.svg", alt="filters")
        .search-room__filters
          .search-room__filters-inner
            span.search-room__filters-close.js-search-room__filters-close
            .search-room__filter
              +filter-date({
                label:'Даты пребывания в отеле',
                dateFrom:'08.19.2022',
                dateTo:'08.23.2022'
              })
            .search-room__filter
              +dropdown({
                label:'Гости',
                type:'guests',
                size:'md',
                data:guestDropdownData.withChildren
              })
            .search-room__filter 
              +range-slider({label:'Диапазон цены'})
              .search-room__slider-description
               | Стоимость за сутки пребывания в номере
            .search-room__filter 
              +checkbox-list({
                  label:'Правила дома', 
                  items:checkboxData.default
                })
            .search-room__filter 
              +rich-checkbox-list({
                label:'Доступность',
                items:checkboxData.rich
              })
            .search-room__filter
              +dropdown({
                label:'Удобства номера',
                size:'md',
                type:'apartments',
                data: apartmentsDropdownData
              })
            .search-room__filter
              +expand-list({label:'Дополнительные удобства', items:expandData})
        .search-room__cards
          h1.search-room__cards-title Номера, которые мы для вас подобрали
          .search-room__cards-inner
            each roomData in roomsData
              .search-room__card
                +preview-room(roomData)
          .search-room__pagination
            +pagination
