

mixin rich-checkbox({text='',subtext='', name='', id='', state=''})
    label.rich-checkbox
        if state === 'checked'
            input(type="checkbox" name=name id=id checked).rich-checkbox__input
        else
            input(type="checkbox" name=name id=id).rich-checkbox__input
        span.rich-checkbox__custom-input
        .rich-checkbox__titles
            .rich-checkbox__title
                +body-text({text,weight:'bold'})
            .rich-checkbox__subtitle
                +body-text({text:subtext})