.rich-checkbox {
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
  }

  &__input {
    appearance: none;
  }

  &__custom-input {
    align-self: flex-start;
    min-width: 20px;
    margin-right: 10px;
    height: 20px;
    transition: 0.1s ease-in-out;
    background: url('./images/empty-checkbox.svg');
  }

  &__input:checked + &__custom-input {
    background: url('./images/fill-checkbox.svg');
  }

  &__title {
    color: $dark-shade-75;
    font-weight: bold;
    line-height: $second-line-height;
  }

  &__description {
    font-size: 12px;
    line-height: $second-line-height;
    color: $dark-shade-50;
    padding-left: 30px;
  }
}
