


mixin header({isLogin=false,name=null})
    header.header(class=isLogin ? 'header_authorized' : null)
        .container
            .header__inner(class=isLogin ? 'header__inner_authorized' : null)
                +logo()
                +nav({isLogin,name})
                .header__burger
                    .header__burger-block Burger