@import 'components/logo/logo.scss';
@import 'components/nav/nav.scss';
@import 'components/button/button.scss';

.header {
  @include shadow;
  z-index: 10;
  background-color: $white;
  position: relative;

  &_authorized {
    z-index: 9;
  }

  &__container {
    @include container;
  }

  &__logo {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    @include size(100%, 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
  }

  &__nav {
    height: 34px;
    @include media-breakpoint(lg) {
      display: none;
    }
  }

  &__burger {
    display: none;

    &-block {
      @include size(100%, 30px);
      position: relative;
      cursor: pointer;
    }

    &-line {
      @include size(30px, 3px);
      @include main-gradient-to-bottom;
      content: '';
      position: absolute;
      position: absolute;
      border-radius: 5px;
      top: 5px;
      transition: all 0.2s linear;

      &::before {
        @include size(30px, 3px);
        @include main-gradient-to-bottom;
        position: absolute;
        content: '';
        border-radius: 5px;
        top: 20px;
        transition: all 0.2s linear;
      }

      &::after {
        @include size(30px, 3px);
        @include main-gradient-to-bottom;
        content: '';
        position: absolute;
        top: 10px;
        border-radius: 5px;
        transition: all 0.2s linear;
      }
    }

    &_opened &-line {
      transform: rotate(45deg);
      top: 10px;

      &::after {
        opacity: 0;
        pointer-events: none;
      }

      &::before {
        transform: rotate(90deg);
        top: 0;
      }
    }

    &-nav {
      display: none;
    }

    &_opened &-nav {
      display: block;
    }

    @include media-breakpoint(lg) {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
