h1.title {
    font-size: 24px;
    color: $shadow-100;
}

h2.title {
    font-size: 19px;
    color: $shadow-100;
}

label.label {
    font-size: 12px;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: $shadow-100;
    font-size: 12px;

    &_mb_16 {
        margin-bottom: 16px;
    }

    &_mb_20 {
        margin-bottom: 20px;
    }

    &_md {
        font-size: 19px;
        text-transform: initial;
        @include sm-desktop {
            font-size: 16px;
        }
    }

    &_checkbox-list {
        cursor: pointer;
        position: relative;

        &::before {
            border-bottom: 2px solid rgba(31, 32, 67, 0.5);
            border-left: 2px solid rgba(31, 32, 67, 0.5);
            content: '';
            height: 8px;
            position: absolute;
            right: 5px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            width: 8px;
            right: 20px;
        }
        &.active::before {
            -webkit-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            transform: rotate(135deg);
        }
    }
}
