- let idCheckbox=0

mixin inputCheckbox(names)
        .selection.selection_checkbox
            each title, name in names
                .input-item.input-item_checkbox  
                    label(for=`checkbox${++idCheckbox}`).selection__item
                        input(type="checkbox" name=name id=`checkbox${idCheckbox}`).selection__field
                        span(style="").selection__field-custom.selection__field-custom_checkbox
                        =title
                    
