- let idLike=0

mixin inputLike(title)
        .selection.selection_like
                .input-item.input-item_like  
                    label(for=`like${++idLike}`).selection__item
                        input(type="checkbox" name='like' id=`like${idLike}`).selection__field
                        span.selection__field-custom.selection__field-custom_like
                            =title
                    
