@import '../../components/subscribe-text-field/subscribe-text-field.scss';
@import '../../components/logo/logo.scss';

.footer {
  background-color: $white;
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  @include shadow;

  &_hidden {
    display: none;
  }

  &_sm {
    @include size(100%, 365px);
    display: none;
    border: none;

    &-inline {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__copyright {
    color: $dark-shade-75;
  }

  &_sm &__copyright {
    text-align: center;
    margin-bottom: 25px;
  }

  @include tablet-portrait {
    display: none;

    &__company-logo {
      text-align: center;
    }

    &_sm {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  @include phone {
    height: 200px;
  }

  &__top {
    display: grid;
    grid-template-columns:
      260px repeat(auto-fit, minmax(150px, 1fr))
      minmax(150px, 260px);
    grid-template-rows: repeat(auto-fit, minmax(172px, 150px));
    grid-column-gap: 40px;
    padding: 100px 0;

    @include md-desktop {
      padding: 50px 0;
      grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
  }

  &__company {
    display: flex;
    flex-direction: column;
    width: 260px;

    @include md-desktop {
      justify-self: center;
      grid-column: 1 / main-end;
    }

    &-description {
      color: $dark-shade-75;
      line-height: $main-line-height;
    }

    &-logo {
      margin-bottom: 17px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $dark-shade-50;
    min-width: 150px;
    row-gap: 20px;

    &-title {
      text-transform: uppercase;
      margin-top: 3px;
      @include block-label;
      line-height: 1.3;
    }

    &-item {
      color: inherit;
      text-decoration: none;
    }

    &_sm {
      max-width: 260px;
    }

    &-description {
      line-height: 1.68;
      color: $dark-shade-75;
    }
  }

  &__line {
    width: 100%;
    border: none;
    border-bottom: 1px solid $dark-shade-25;
  }

  &__bottom {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__messengers {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}
