include ../logo/logo.pug
include ../text-titles/text-titles.pug
include ../subscribe-text-field/subscribe-text-field.pug

mixin footer({isSmall=false}={})
	footer.footer(style=isSmall ? 'display:none':'')
		.container
			.footer__top
				.footer__company
					.footer__company-logo
						+logo
					.footer__company-description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
				.footer__column 
					.footer__column-title 
						+block-label({text:"Навигация"}) 
					a.footer__column-item(href='/about.html') О нас
					a.footer__column-item(href='/news.html') Новости
					a.footer__column-item(href='/support.html') Служба поддержки
					a.footer__column-item(href='/services.html') Услуги
				.footer__column
					.footer__column-title 
						+block-label({text:"О нас"}) 
					a.footer__column-item(href='/aboutService.html') О сервисе
					a.footer__column-item(href='/ourTeam.html') Наша команда
					a.footer__column-item(href='/jobs.html') Вакансии
					a.footer__column-item(href='/investors.html') Инвесторы
				.footer__column
					.footer__column-title 
						+block-label({text:"Служба поддержки"})
					a.footer__column-item(href='/agreements.html') Соглашения
					a.footer__column-item(href='/communities.html') Сообщества
					a.footer__column-item(href='/connection.html') Связь с нами
				.footer__column.footer__column_subscribe
					.footer__column-title 
						+block-label({text:"Подписка"}) 
					.footer__column-description Получайте специальные предложения и новости сервиса
					+subscribe-text-field({id:'subscribe-field',name:'email',placeholder:'Email'})
		hr.footer__line
		.container
			.footer__bottom
				.footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
				.footer__messengers
					a.footer__messenger-item(href='https://twitter.com/?')
						img.footer__messenger-image(src='assets/images/twitter.svg')
					a.footer__messenger-item(href='https://www.facebook.com/')
						img.footer__messenger-image(src='assets/images/facebook.svg')
					a.footer__messenger-item(href='https://www.instagram.com/')
						img.footer__messenger-image(src='assets/images/instagram.svg')
	footer.footer.footer_small(class=isSmall ? 'footer_small-inline':'')
		.footer__company-logo
			+logo
		.footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
		.footer__messengers
			a.footer__messenger-item(href='https://twitter.com/?')
				img.footer__messenger-image(src='assets/images/twitter.svg')
			a.footer__messenger-item(href='https://www.facebook.com/')
				img.footer__messenger-image(src='assets/images/facebook.svg')
			a.footer__messenger-item(href='https://www.instagram.com/')
				img.footer__messenger-image(src='assets/images/instagram.svg')
