include ../logo/logo.pug
include ../subscribe-text-field/subscribe-text-field.pug
include ../social/social.pug

mixin footer({ isSmall = false, data = [], socials = [] } = {})
  - const footerClasses = isSmall ? 'footer_hidden' : ''
  - const smFooterClasses = isSmall ? 'footer_sm-inline' : ''
  
  footer.footer(class=footerClasses)
    .footer__container
      .footer__top
        .footer__company
          .footer__company-logo
            +logo
          .footer__company-description 
            | Бронирование номеров в лучшем отеле 2019 года 
            | по версии ассоциации «Отельные взгляды»
        each column in data
          - const { label, links } = column
          .footer__column 
            h3.footer__column-title= label
            each link in links
              - const { text, href } = link
              a.footer__column-item(href=href)=text
        .footer__column.footer__column_sm
          h3.footer__column-title Подписка
          .footer__column-description
            | Получайте специальные предложения и новости сервиса
          +subscribe-text-field({
            id: 'subscribe-field',
            name: 'email',
            placeholder: 'Email'
           })
    hr.footer__line
    .footer__container
      .footer__bottom
        .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
        .footer__socials
          each socialItem in socials
            - const { link, image, name } = socialItem
            +social({ link, image, name })
  footer.footer.footer_sm(class=smFooterClasses)
    .footer__company-logo
      +logo
    .footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
    .footer__socials
      each smallSocialItem in socials
          - const { link, image, name } = smallSocialItem
          +social({ link, image, name })
