.footer {
    box-shadow: 0 10px 20px rgba($color: #1f2041, $alpha: 0.05);
    background-color: $white;
    border-top: 1px solid #e5e5e5;
    margin: 0 auto;
    &_small {
        height: 365px;
        max-width: 768px;
        display: none;
    }

    @include tablet-portrait {
        display: none;
        &__top,
        &__bottom {
            display: none;
        }

        &__company-logo {
            text-align: center;
        }

        &__copyright {
            text-align: center;
        }

        &_small {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    @include phone {
        height: 200px;
    }

    &__top {
        display: grid;
        grid-template-columns:
            260px repeat(auto-fit, minmax(150px, 1fr))
            minmax(150px, 260px);
        grid-template-rows: repeat(auto-fit, minmax(200px, 180px));
        grid-column-gap: 40px;
        padding: 100px 0;

        @include md-desktop {
            padding: 50px 0;
            grid-column: 1 / main-end;
            grid-template-columns: repeat(3, minmax(150px, 1fr));
        }
    }

    &__company {
        display: flex;
        flex-direction: column;
        width: 260px;
        @include md-desktop {
            justify-self: center;
            grid-column: 1 / main-end;
        }
        &-description {
            line-height: 1.7;
        }
        &-logo {
            margin-bottom: 20px;
        }
    }

    &__nav {
        display: flex;

        flex-direction: column;
        align-items: flex-start;
        min-width: 150px;
        &-title {
            text-transform: uppercase;
        }
        &-item {
            color: inherit;
            text-decoration: none;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__subscribe {
        &-description {
            max-width: 260px;
            margin-bottom: 20px;
        }
    }

    &__bottom {
        padding: 23px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    &__messengers {
        display: flex;
        justify-content: center;
    }

    &__messenger-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}
