mixin rich-checkbox-list({label='', items=[]}={})
	.rich-checkbox-list
		.rich-checkbox-list__label
			+block-label({text:label})
		.rich-checkbox-list__items 
			each item in items
				.rich-checkbox-list__item
					+rich-checkbox({text:item['text'],subtext:item['subtext'],name:item['name'], id:item['id'], state:item['state']})
