@import 'rootStyle';
@import 'components/datepicker/datepicker.scss';
@import 'components/search-room-card/search-room-card.scss';
@import 'components/booking-card/booking-card.scss';
@import 'components/login-card/login-card.scss';
@import 'components/register-card/register-card.scss';
@import 'components/card-room-info/card-room-info';
@import 'components/preview-room/preview-room';

.cards {
  padding: 150px 0;
  padding-bottom: 140px;
  background-color: #f4f4f6;

  &__container {
    @include container;
  }

  &__inner {
    display: grid;
    grid-template-columns: 380px 380px 320px;
    column-gap: 40px;
    row-gap: 30px;

    @include media-breakpoint(xl) {
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;

      @include media-breakpoint(md) {
        grid-template-columns: 1fr;
        width: 90%;

        @include media-breakpoint(sm) {
          width: 100%;
        }
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__datepicker {
    display: block;

    @include media-breakpoint(md) {
      padding: 0 15px;
    }
  }

  &__preview-room {
    width: 270px;

    @include media-breakpoint(lg) {
      grid-column-start: 2;
    }
  }
}
