@import '../../../assets/style/scss/index.scss';
@import '../../components/datepicker/datepicker.scss';
@import '../../components/search-room-card/search-room-card.scss';
@import '../../components/booking-card/booking-card.scss';
@import '../../components/login-card/login-card.scss';
@import '../../components/register-card/register-card.scss';
@import '../../components/card-room-info/card-room-info';
@import '../../components/preview-room/preview-room';

.cards {
  padding: 100px 0;
  padding-bottom: 140px;
  background-color: #f4f4f6;

  &__container {
    @include container;
  }

  &__inner {
    display: grid;
    grid-template-columns: 380px 380px 320px;
    column-gap: 40px;
    row-gap: 30px;

    @include md-desktop {
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;

      @include tablet-portrait {
        grid-template-columns: 1fr;
        width: 90%;

        @include phone {
          width: 100%;
        }
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__datepicker {
    display: block;
  }

  &__preview-room {
    width: 270px;

    @include md-desktop {
      grid-column-start: 2;
    }
  }
}
