extends ../../layout/ui-kit-page.pug

block title
  title Cards

block page
  include ../../components/search-room-card/search-room-card.pug
  include ../../components/register-card/register-card.pug
  include ../../components/booking-card/booking-card.pug
  include ../../components/login-card/login-card.pug
  include ../../components/datepicker/datepicker.pug
  include ../../components/preview-room/preview-room.pug

  .cards
    .container
      .cards__inner
        .cards__column 
          .cards__search-room-card
            +search-room-card
          .cards__register-card
            +register-card
        .cards__column 
          .cards__booking-card
            +booking-card({roomNumber:888, price:9900,isLuxury:true})
          .cards__login-card
            +login-card
        .cards__column
          .cards__datepicker.datepicker-container.js-datepicker-container
            +datepicker({isInline:true, dateFrom:'08.19.2019', dateTo:'08.23.2019'})
          .cards__preview-room 
            +preview-room({roomNumber:888,images:['preview-room1.png','preview-room1.png','preview-room1.png','preview-room1.png'],price:9900,rate:5,id:'room-1', isLuxury:true,reviews:145})
          .cards__preview-room 
            +preview-room({roomNumber:840,images:['preview-room2.png','preview-room2.png','preview-room2.png','preview-room2.png'],price:9900,rate:4,id:'room-2',isLuxury:false,reviews:65})
