include ../text-field/text-field.pug

mixin subscribe-text-field({label="", name="", placeholder='', type='text', value=""}={})
  +text-field({label})
    .subscribe-text-field
      form.subscribe-text-field__form
        input.subscribe-text-field__input(
          type="email",
          name=name,
          placeholder=placeholder
        )
        button.subscribe-text-field__arrow(type="submit")
          img(src="assets/images/subscribe-arrow.svg", alt="arrow")
