@import '../text-field/text-field.scss';

.subscribe-text-field {
  &__form {
    position: relative;
  }

  &__arrow {
    @include size(44px);
    position: absolute;
    right: 0;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__input {
    @include text-field;
  }
}
