.subscribe-text-field {
  width: 100%;

  &__label {
    @include block-label;
    margin-bottom: 5px;
  }

  &__form {
    position: relative;
  }

  &__arrow {
    @include size(44px);
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    @include text-field;
  }
}
