.booking-card {
    &__room-info {
        margin-bottom: 20px;
    }
    &__date {
        margin-bottom: 20px;
    }
    &__guests {
        margin-bottom: 20px;
    }
    &__cost {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 15px 15px 36px;
        grid-row-gap: 20px;
        margin-bottom: 30px;
    }
    &__day-price {
        justify-self: right;
    }
    &__service {
        display: flex;
        justify-content: space-between;
        &-price {
            justify-self: right;
        }
    }

    &__add-service {
        display: flex;
        &-price {
            justify-self: right;
        }
    }
    &__final-cost {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__button{
        height: 44px;
    }
}
