.intro {
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 830px;
    background: url('http://localhost:8080/assets/img/IntroImage.jpg') center
        no-repeat;
    background-size: cover;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 740px;
    }
    &__slogan {
        max-width: 300px;
        align-self: flex-end;
        text-align: end;
    }
}
