.room {
    &__intro {
        width: 100%;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: repeat(2, minmax(min-content, 100px));
        grid-template-areas:
            'main-image second-image-top'
            'main-image second-image-bottom';
        @include tablet-portrait {
            grid-template-areas: 'main-image main-image';
        }
    }

    &__main-image {
        & img {
            width: 100%;
            height: 100%;
        }
        grid-area: main-image;
    }

    &__second-image {
        & img {
            width: 100%;
            display: block;
        }

        &_bottom {
            grid-area: second-image-bottom;
        }

        &_top {
            grid-area: second-image-top;
        }
    }

    &__inner {
        padding: 70px 0;
        display: flex;
        column-gap: 70px;

        @include tablet-landscape {
            padding: 40px 0;
            flex-direction: column;
        }
    }

    &__review {
        display: grid;
        grid-template-columns: minmax(min-content, 290px) minmax(
                min-content,
                350px
            );
        grid-template-rows: repeat(2, minmax(min-content, 300px));
        justify-content: space-between;
        grid-template-areas:
            'about impressions'
            'feedbacks feedbacks'
            'rules cancel';
        grid-column-gap: 80px;
        grid-row-gap: 30px;

        @include phone {
            grid-column-gap: 40px;
            grid-template-areas:
                'about about'
                'impressions impressions'
                'feedbacks feedbacks'
                'rules rules'
                'cancel cancel';
        }
    }

    &__about {
        justify-self: center;
        grid-area: about;
    }

    &__booking {
        @include tablet-landscape {
            margin-top: 30px;
            align-self: center;
        }
    }

    &__impressions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: flex-start;
        @include phone {
            align-items: center;
        }
        @include md-desktop {
            align-items: center;
        }
        &-chart {
            display: flex;
            @include md-desktop {
                flex-direction: column;
            }
        }
        &-votes {
            align-self: flex-end;

            margin-left: 10%;
            padding-bottom: 5px;
            @include md-desktop {
                align-self: start;
                margin-top: 10px;
                margin-left: 0;
            }
        }
        &-vote {
            list-style-type: none;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            width: 170px;
            &::before {
                content: '';
                display: inline-block;
                background-color: #000;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin-right: 10px;
            }
            &_great {
                &::before {
                    background: linear-gradient(to bottom, #ffe39c, #ffba9c);
                }
            }
            &_good {
                &::before {
                    background: linear-gradient(to bottom, #6fcf97, #66d2ea);
                }
            }
            &_satisfied {
                &::before {
                    background: linear-gradient(to bottom, #bc9cff, #8ba4f9);
                }
            }
            &_disappointed {
                &::before {
                    background: linear-gradient(to bottom, #909090, #3d4975);
                }
            }
        }

        grid-area: impressions;
    }
    &__feedbacks {
        grid-area: feedbacks;
        &-item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &-header {
            display: flex;
            justify-content: space-between;
        }

        &-count {
            text-align: center;
        }
    }

    &__rules {
        grid-area: rules;
    }
    &__cancel {
        grid-area: cancel;

        &-info {
            line-height: 1.7;
        }
    }
}
