.headers-footers {
    &__header {
        margin-bottom: 50px;
    }
    margin-bottom: 50px;
}

.colors-fonts {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    .colors-fonts__font {
        display: grid;
        grid-template-columns: 40px 370px;
        grid-column-gap: 20px;
        margin-bottom: 40px;
    }

    .colors-fonts__tag {
        text-transform: uppercase;
        color: $shadow-25;
        justify-self: end;

        &_type {
            &_widget {
                font-size: 24px;
            }
            &_inside-widget {
                font-size: 19px;
            }
            &_label {
                font-size: 12px;
            }
            &_text {
                font-size: 14px;
                text-transform: capitalize;
            }
        }
    }
}

.form-elements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &__fields {
        max-width: 320px;
    }

    &__field-labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    &__text-field {
        margin-bottom: 20px;
    }

    &__masked-text-field {
        margin-bottom: 40px;
    }

    &__subscribe-field {
        max-width: 266px;
    }

    &__dropdown {
        margin-bottom: 20px;
    }

    &__range-date {
        margin-bottom: 40px;
    }

    &__filter-date {
        margin-bottom: 40px;
        max-width: 266px;
    }

    &__selections {
        max-width: 260px;
    }

    &__selection-label {
        margin-bottom: 16px;
    }

    &__checkboxes {
        margin-bottom: 40px;
    }
    &__radio {
        margin-bottom: 40px;
    }

    &__toggle {
        margin-bottom: 40px;
        &-column {
            display: flex;
            flex-direction: column;
            row-gap: 14px;
        }
    }

    &__like {
        margin-bottom: 40px;
        &-row {
            display: flex;
            column-gap: 10px;
        }
    }

    &__rate {
        &-row {
            display: flex;
            column-gap: 20px;
        }
    }

    &__other {
        width: 320px;
    }

    &__other-label {
        margin-bottom: 16px;
    }

    &__buttons {
        margin-bottom: 40px;
        &-small {
            display: grid;
            grid-template-columns: repeat(2, 100px);
            grid-template-rows: repeat(2, 45px);
            grid-row-gap: 30px;
            grid-column-gap: 30px;
            margin-bottom: 30px;
        }
        &-no-bordered {
            display: flex;
            column-gap: 20px;
            margin-bottom: 30px;
        }

        &-largest {
            height: 44px;
        }
    }
}

.dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &__apartments {
        &-item {
            width: 266px;
            margin-bottom: 20px;
        }
    }
    &__labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__guests {
        display: flex;
        column-gap: 72px;
        &-item {
            width: 320px;
            margin-bottom: 20px;
        }
    }
}
