.headers-footers {
    &__header {
        margin-bottom: 50px;
    }
    margin-bottom: 50px;
}

.colors-fonts {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    .colors-fonts__font {
        display: grid;
        grid-template-columns: 40px 370px;
        grid-column-gap: 20px;
        margin-bottom: 40px;
    }

    .colors-fonts__tag {
        text-transform: uppercase;
        color: $shadow-25;
        justify-self: end;

        &_type {
            &_section {
                font-size: 24px;
            }
            &_item {
                font-size: 19px;
            }
            &_label {
                font-size: 12px;
            }
            &_text {
                font-size: 14px;
                text-transform: capitalize;
            }
        }
    }
}

.form-elements {
    display: flex;
    justify-content: space-between;
    &__fields {
        max-width: 320px;
    }
    &__field-labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    &__text-field {
        margin-bottom: 20px;
    }
    &__masked-text-field {
        margin-bottom: 40px;
    }
    &__subscribe-field {
        max-width: 266px;
    }
    &__dropdown {
        margin-bottom: 20px;
    }

    &__range-date {
        margin-bottom: 40px;
    }

    &__filter-date {
        margin-bottom: 40px;
        max-width: 266px;
    }

    &__selections {
        max-width: 260px;
    }

    &__selection-label {
        margin-bottom: 16px;
    }

    &__checkboxes {
        margin-bottom: 40px;
    }

    &__other {
        max-width: 320px;
    }
}
