extends ../../layout/ui-kit-layout.pug

    
block headers-footers
    .headers-footers
        .headers-footers__header
            +header({isLogin:false})
        .headers-footers__header
            +header({isLogin:true, name:'Юлий цезарь'})
        .headers-footers__footer
            +footer()


block colors-fonts
    .colors-fonts
        .colors-fonts__colors
            +color({ hex: '#1F2041', text:'Dark Shade 100%', opacity:100})
            +color({ hex: '#1F2041', text:'Dark Shade 75%', opacity:75})
            +color({ hex: '#1F2041', text:'Dark Shade 50%', opacity:50})
            +color({ hex: '#1F2041', text:'Dark Shade 25%', opacity:25})
            +color({ hex: '#1F2041', text:'Dark Shade 5%', opacity:5})
            +color({ hex: '#BC9CFF', text:'Purple', color:'purple'})
            +color({ hex: '#6FCF97', text:'Green', color:'green'})
        .colors-fonts__fonts
            .colors-fonts__font
                .colors-fonts__tag.colors-fonts__tag_type_widget h1
                +widget-title({text:'This one is the sub-section or widget title'})
            .colors-fonts__font
                .colors-fonts__tag.colors-fonts__tag_type_inside-widget h2
                +title-inside-widget({text:'Next one is the item title inside widgets'})
            .colors-fonts__font
                .colors-fonts__tag.colors-fonts__tag_type_label h3
                +block-label({text:'This is a label or CTA text'})
            .colors-fonts__font
                .colors-fonts__tag.colors-fonts__tag_type_text Body
                +body-text({text:'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})
            


block form-elements
    .form-elements
        .form-elements__fields
            .form-elements__text-field
                .form-elements__field-labels
                    +block-label({text:'text field'})
                    +block-sub-label({text:'default'})
                +text-field({id:'default-field', name:"email", placeholder:"Email", type:'email'})
            .form-elements__text-field
                .form-elements__field-labels
                    +block-label({text:'text field'})
                    +block-sub-label({text:'hover / focus'})
                +text-field({id:'focused-field', name:"email", placeholder:"Email", type:'email', value:'This is pretty awesome'})
            .form-elements__dropdown
                .form-elements__field-labels
                    +block-label({text:'dropdown'})
                +dropdown({items:{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},kind:'guests', size:'lg'})
            .form-elements__masked-text-field
                .form-elements__field-labels
                    +block-label({text:'masked text field'})
                +masked-text-field({id:'masked-field', name:"email", placeholder:"ДД.ММ.ГГГГ", type:'email'})
            .form-elements__range-date
                +range-date({from:'date dropdown',to:'date dropdown'})
            .form-elements__filter-date
                .form-elements__field-labels
                    +block-label({text:'filter date dropdown'})
                +filter-date({value:'19 авг - 23 авг'})
            .form-elements__subscribe-field
                .form-elements__field-labels
                    +block-label({text:'subscription text field'})
                +subscribe-text-field({placeholder:'Email',name:'email'})
                
         
        .form-elements__selections
            .form-elements__checkboxes
                +checkbox-list({label:'checkbox buttons', items:[
                    {id:'smoking', name:'smoking', text:'Можно курить'},
                    {id:'animals', name:'animals', text:'Можно с животными',state:'checked'},
                    {id:'guests', name:'guests', text:'Можно пригласить гостей (до 10 человек)',state:'checked'},
                    ]
                })
            .form-elements__radio
                .form-elements__selection-label
                    +block-label({text:'radio button'})
                +radio-list({items:[{id:'male', name:'gender', text:'Мужчина', state:'checked'}, {id:'female', name:'gender', text:'Женщина'}] })
            .form-elements__toggle
                .form-elements__selection-label
                    +block-label({text:'toggle'})
                .form-elements__toggle-column
                    +toggle({id:'toggle-offers',text:'Получать спецпредложения',name:'toggle-offers',state:'checked'})
                    +toggle({id:'toggle-offers',text:'Получать спецпредложения',name:'toggle-offers'})
            .form-elements__like
                .form-elements__selection-label
                    +block-label({text:'like button'})
                .form-elements__like-row
                    +like({id:'like-1',name:'like',count:2,state:'unchecked'})
                    +like({id:'like-2',name:'like',count:12,state:'checked'})
            .form-elements__rate
                .form-elements__selection-label
                    +block-label({text:'rate button'})
                .form-elements__rate-row
                    +rate({id:'first-rate',name:'first-rate',rate:4})
                    +rate({id:'second-rate',name:'second-rate',rate:5})
                

        .form-elements__other
            .form-elements__slider
                .form-elements__other-label
                    +block-label({text:'slider'})
                +range-slider()
            .form-elements__buttons
                .form-elements__other-label
                    +block-label({text:'buttons'})
                .form-elements__buttons-small
                    +button({text:'click me',type:'filled'})
                    +button({text:'click me',type:'filled'})
                    +button({text:'click me',type:'outlined'})
                    +button({text:'click me',type:'outlined'})
                .form-elements__buttons-no-bordered
                    +button({text:'click me',type:'no-bordered'})
                    +button({text:'click me',type:'no-bordered'})
                .form-elements__buttons-largest
                    +button({text:'перейти к оплате',type:'filled',isLargest:true})
            .form-elements__pagination
                .form-elements__other-label
                    +block-label({text:'pagination'})
                +pagination()


                
block dropdowns 
    .dropdowns
        .dropdowns__apartments
            .dropdowns__apartments-item
                .dropdowns__labels
                    +block-label({text:'dropdown'})
                    +block-sub-label({text:'default'})
                +dropdown({items:{bedrooms:'Спальни',beds:'Кровати',bathrooms:'Ванные комнаты'},kind:'apartments', size:'sm'})
            .dropdowns__apartments-item
                .dropdowns__labels
                    +block-label({text:'dropdown'})
                    +block-sub-label({text:'expanded'})
                +dropdown({items:{bedrooms:'Спальни',beds:'Кровати',bathrooms:'Ванные комнаты'},kind:'apartments', size:'sm'})
        .dropdowns__guests
            .dropdowns__guests-item
                .dropdowns__labels
                    +block-label({text:'dropdown'})
                +dropdown({items:{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},kind:'guests', size:'lg'})
            .dropdowns__guests-item
                .dropdowns__labels
                    +block-label({text:'dropdown'})
                +dropdown({items:{adult:'Взрослые',child:'Дети',newborns:'Младенцы'},kind:'guests', size:'lg'})