include ../text-titles/text-titles.pug
include ../card/card.pug
include ../text-field/text-field.pug
include ../button/button.pug

mixin login-card({title='Войти'}={})
	+card
		.login-card 
			.login-card__title
				+widget-title({text:title})
			form.login-card__login-form
				.login-card__block 
					.login-card__block-field 
						+text-field({placeholder:'Email', type:'email', name:'email'})
					.login-card__block-field 
						+text-field({placeholder:'Пароль', type:'password', name:'password'})
				.login-card__button
					+button({text:'Войти', type:'filled', isLargest:true})
			.login-card__profile-action 
				.login-card__profile-action-text
					+body-text({text:'Нет аккаунта на Toxin?'})
				.login-card__profile-action-button
					+button({text:'Создать',type:'outlined'})
