@import '../../components/default-text-field/default-text-field';
@import '../../components/button/button';

.login-card {
  &__title {
    margin-bottom: 20px;
    @include widget-title;
  }

  &__block {
    margin-bottom: 20px;

    &-field {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__button {
    margin-bottom: 30px;
    height: 44px;
  }

  &__profile-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    @include body-text;

    &-button {
      @include size(99px, 100%);
    }
  }
}
