mixin inputDropDown(labelName)
    .input-item.input-item_lg
        label.label(for="dropdown")=labelName
        div.input-item__field.dropdown.iqdropdown(id="dropdown") 
            p.dropdown__selection.iqdropdown-selection

