mixin inputRangeDate(labelFromName,labelTolName)
    .input-item.input-item_sm
        label(for="datepicker-from").input-label=labelFromName
        input.input-item__field.input-item__field_date.datepicker-here(id="datepicker-from"  data-range="true" placeholder="ДД.ММ.ГГГГ" )
    .input-item.input-item_sm
        label(for="datepicker-to").input-label=labelFromName
        input.input-item__field.input-item__field_date.datepicker-here(id="datepicker-to" data-range="true" placeholder="ДД.ММ.ГГГГ")

mixin inputFilterRangeDate(labelName)
    .input-item.input-item_md
        label(for="range-datepicker").input-label=labelName
        input.input-item__field.input-item__field_date.datepicker-here(id="range-datepicker" data-range="true" placeholder="Select the date")