


mixin inputRangeDate(labelFromName,labelTolName)
    .input-item.input-item_sm
        label.label(for="datepicker-from")=labelFromName
        .input-item__field.input-item__field_dropdown
            input.input-item__input.input-item__input_date(id="datepicker-from"  data-range="true" placeholder="ДД.ММ.ГГГГ" )
            

    .input-item.input-item_sm
        label.label(for="datepicker-to")=labelFromName
        .input-item__field.input-item__field_dropdown
            input.input-item__input.input-item__input_date(id="datepicker-to" data-range="true" placeholder="ДД.ММ.ГГГГ")
            

mixin inputFilterRangeDate(labelName)
    .input-item.input-item_md
        label.label(for="range-datepicker")=labelName
        .input-item__field.input-item__field_dropdown
            input.input-item__input.input-item__input_date(id="range-datepicker" data-range="true" placeholder="Select the date")