extends ../../layout/ui-kit-page.pug

block title
  title Headers & footers

block page
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug
  .headers-footers
    .headers-footers__inner
      .headers-footers__header
        +header
      .headers-footers__header
        +header({state:"auth", name:'Юлий цезарь'})
      .headers-footers__footer
        +footer
      .headers-footers__footer-inline 
        +footer({isSmall:true})
