@import '../../../style/scss/index.scss';
@import '../../components/button/button.scss';
@import '../../components/footer/footer.scss';
@import '../../components/header/header.scss';

.headers-footers {
  padding: 100px 0;
  background-color: #f4f4f6;
  &__header {
    margin-bottom: 40px;
  }
  &__footer {
    margin-bottom: 55px;
    &-inline {
      margin: 0 auto;
      width: 768px;
      margin-bottom: 125px;
      @include tablet-portrait {
        width: 100%;
      }
    }
  }
}
