extends ../../layout/ui-kit-page.pug

block title
  title Headers & footers

block page
  include ../../components/header/header.pug
  include ../../components/footer/footer.pug
  
  - const navigationData = require('../../../data/navigation-data').data;

  .headers-footers
    .headers-footers__inner
      .headers-footers__header
        +header({ links: navigationData })
      .headers-footers__header
        +header({ state: 'authorized', name: 'Юлий цезарь', links: navigationData })
      .headers-footers__footer
        +footer
      .headers-footers__footer-inline 
        +footer({ isSmall: true })
