@import '../text-field/text-field.scss';

.default-text-field {
  display: flex;
  flex-direction: column;
  @include size(100%);
  &__label {
    margin-bottom: 5px;
  }

  &__container {
    position: relative;
    height: 44px;
    border-radius: 4px;
    background-color: $white;
    &_send-email {
      display: flex;
      align-items: center;
    }
  }

  &__input {
    @include size(100%, 44px);
    padding: 0 15px;

    border: none;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    outline: none;
    position: relative;
    font-family: inherit;

    &::placeholder {
      color: $dark-shade-25;
    }

    &:focus {
      border: 1px solid $dark-shade-50;
    }
  }
}
