.default-text-field {
  @include size(100%);
  display: flex;
  flex-direction: column;

  &__labels {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__label {
    @include block-label;
  }

  &__sub-label {
    @include block-sub-label;
  }

  &__container {
    position: relative;
    height: 44px;
    border-radius: 4px;
    background-color: $white;

    &_send-email {
      display: flex;
      align-items: center;
    }
  }

  &__input {
    @include text-field;
  }
}
