mixin radio-list({items=[]}={})
  .radio-list
    each item in items
      label.radio-list__item
        if item['state'] === 'checked'
          input.radio-list__input(type='radio', name=item['name'], checked)
        else
          input.radio-list__input(type='radio', name=item['name'])
        span.radio-list__custom-input
        .radio-list__title=item['text']
