include ../text-titles/text-titles.pug
mixin radio-list({items=[]}={})
	.radio-list
		each item in items
			label.radio-list__item
				if item['state'] === 'checked'
					input.radio-list__input(type='radio', name=item['name'], id=item['id'], checked)
				else
					input.radio-list__input(type='radio', name=item['name'], id=item['id'])
				span.radio-list__custom-input
				.radio-list__title
					+body-text({text: item['text']})
