
mixin radio-list(items={})
        .radio-list
            each text, name in items
                label.radio-list__item
                    input(type="radio" name=name id=name).radio-list__input
                    span.radio-list__custom-input
                    .radio-list__title
                        +body-text({text})
                

