.radio-list {
  display: flex;

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100px;
    margin-right: 20px;
  }

  &__title {
    color: $dark-shade-50;
    transition: all 0.2s ease-in-out;
  }

  &__custom-input {
    min-width: 20px;
    height: 20px;
    align-self: flex-start;
    margin-right: 10px;
    transition: 0.3s ease-in-out;
    background: url('images/empty-radio.svg');
  }

  &__input:checked + &__custom-input {
    background: url('images/fill-radio.svg');
  }

  &__input:checked + &__custom-input + &__title {
    color: $dark-shade-75;
  }
}
