@font-face {
  font-family: Montserrat;
  src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
}
