@import './mixins';
@import './vars';
@import './fonts';
@import './text-titles';
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: $main-line-height;
  font-size: $main-font-size;
  color: $font-color;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;

  @media screen and(max-width:$desktop-width) {
    font-size: 13px;
  }
  @media screen and(max-width:$table-width) {
    font-size: 12px;
  }
}

*::placeholder {
  font-size: $main-font-size;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @include main-gradient-to-bottom;
  border-radius: 10px;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  @include phone {
    padding: 0 10px;
  }
}
