//------------------LIBRARIES IMPORTS--------------

@import './mixins';
@import './vars';
@import './components';
@import './pages';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
html {
    line-height: $main-line-height;
    font-size: $main-font-size;
    color: $font-color;

    font-family: 'Montserrat', sans-serif;

    @media screen and(max-width:$desktop-width) {
        font-size: 13px;
    }
    @media screen and(max-width:$table-width) {
        font-size: 12px;
    }
    @media screen and(max-width:$phone-width) {
        font-size: 11px;
    }
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

*::placeholder {
    font-size: 14px;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    @include phone {
        padding: 0 10px;
    }
}
