@use 'sass:math';

@function rem($pixel, $context: $main-font-size) {
  @if (unitless($pixel)) {
    $pixel: $pixel * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return (math.div($pixel, $context) * 1rem);
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin main-gradient-to-bottom($color: $main-color, $second-color: $gradient-main-color) {
  background: linear-gradient(to bottom, $color, $second-color);
}

@mixin shadow {
  box-shadow: 0 10 20px $dark-shade-5;
}

@mixin second-gradient-to-bottom(
  $color: $second-color,
  $second-color: $gradient-second-color
) {
  background: linear-gradient(to bottom, $color, $second-color);
}
@mixin dropdown-arrow($right: 0px, $top: 0px, $position: absolute) {
  content: '';
  @include size(8px);
  border-bottom: 2px solid rgba(31, 32, 67, 0.5);
  border-left: 2px solid rgba(31, 32, 67, 0.5);
  cursor: pointer;
  position: $position;
  right: $right;
  top: $top;
  transition: all 0.2s linear;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@mixin phone {
  @media (max-width: 420px) {
    @content;
  }
}

@mixin sm-tablet-portrait {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin tablet-portrait {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet-landscape {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin md-desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
