$font: 'Montserrat', sans-serif;

$dark-shade-100: #1f2043;
$dark-shade-75: rgba(#1f2043, 0.75);
$dark-shade-50: rgba(#1f2043, 0.5);
$dark-shade-25: rgba(#1f2043, 0.25);
$dark-shade-5: rgba(#1f2043, 0.05);

$white: #fff;
$black: #000;

$main-color: #bc9cff;
$second-color: #6fcf97;

$font-color: $dark-shade-100;

$gradient-main-color: #8ba4f9;
$gradient-second-color: #66d2ea;

$desktop-width: 1280px;
$sm-desktop-width: 980px;
$table-width: 768px;
$phone-width: 480px;
$sm-phone-width: 320px;

$main-font-size: 14px;
$inside-widget-font-size: 19px;
$widget-font-size: 24px;
$second-font-size: 12px;
$main-line-height: 1.7;
$second-line-height: 1.3;
